@import "/src/styles/mixins/breakpoints";


.card {
    position: absolute;
    width: 400px !important;
    top: 10px;
    left: 30px;
    margin-bottom: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
}


.tab-value {
    height: auto;
    display: flex;
    flex-direction: column;

}


/* Add additional styles for content inside the card */
.card-content {
    padding: 15px;
    color: white;
    transition: max-height 0.5s ease-out;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .vehclelist {
        display: flex;
        justify-content: space-between;

        .label {
            font-weight: bold;
        }

        .arrow {
            cursor: pointer;
            width: 20px;
            height: 20px;
            // background-image: url('../../../../../../assets/icons/down-arrow.png');
            /* Replace 'down-arrow.png' with your arrow image */
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .line {
        border-style: solid;
        border-color: rgba(101, 101, 101, 0.5);
        border-width: 1px 0 0 0;
        width: 335px;
        height: 0px;
        position: absolute;
        left: 14px;
        top: 100px;
        transform-origin: 0 0;
        transform: rotate(0deg) scale(1, 1);
    }

    .searcharea {
        display: flex;
        justify-content: space-between;


        .search-box {
            position: relative;
            display: inline-block;
            width: 243px;

            /* Adjust width as needed */
            input {
                width: 100%;
                padding-right: 30px;
                /* Space for icon */
                box-sizing: border-box;
                border-radius: 5px !important;
                border: 1px solid white !important;
            }

            ::placeholder {
                color: #656565;
                font-size: 14px;
                opacity: 1;
                /* Firefox */
                left: 12px
            }

            .search-icon {
                position: absolute;
                top: 45%;
                right: 10px;
                /* Adjust as needed */
                transform: translateY(-50%);
                color: #aaa;
            }
        }




        .searchcontent {
            display: flex;
            justify-content: space-between;
            gap: 5px;

            .content {
                padding: 2px;
                background: #f8f8f8;
                border-radius: 5px;
                width: 30px;
                height: 30px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

                img {

                    display: flex;
                    justify-content: center;
                    height: 25px;
                    width: 25px;
                }

                .t {
                    cursor: pointer;
                    margin-top: -4px;
                    color: #ffaf1d;
                    display: flex;
                    justify-content: center;
                    font-size: 22px;
                    font-weight: 700;
                }
            }
        }
    }

    .status {
        width: 317px;
        height: 61px;
        top: 117px;
        left: 23px;
        display: flex;
        justify-content: space-between;

        .statusContent {
            height: 50px;
            width: 54px;
            background-image: linear-gradient(#4861ed 10px, #ffe3b0 10px);
            background-clip: content-box, border-box;
            border-radius: 5px;
            position: relative;

            .count {
                color: #4861ed;
                text-align: left;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                left: 17px;
                top: 14px;
                position: absolute;
            }

            .stop {
                color: #ffffff;
                text-align: left;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                left: 11px;
                top: 44px;
            }
        }
    }

    .vehicle-follow {
        background: ghostwhite;
        border-style: solid;
        border-color: #e4e4e4;
        border-width: 1px;
        overflow: auto;
        flex-grow: 1;
        margin-top: auto;
        box-shadow: 0px 9px 9px 0px rgb(0 0 0 / 25%);
        border-radius: 12px;

        ul.vehicle-data {
            width: 100%;

            .vehicle-value {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #d3c2c2;
                 padding: 8px;
                align-items: center;
                cursor: pointer;

                span {
                    font-size: 13px;
                    line-height: 14.52px;
                    width: 61%;
                    padding-left: 10px;
                    color: black;
                    font-weight: 500;
                    &:first-child {
                        width: 50%;
                    }

                    // &:last-child {
                    //     width: 10%;
                    //     display: flex;
                    //     align-items: center;
                    // }
                }

            }
        }




    }
}

// .vehicle-follow.mt-3.active {
//     height: 62vh !important;
// }

.status-0 {
    color: rgb(25 173 0) !important;
}

.status-1-substatus-2 {
    color: #4861ED !important;
}

.status-2-substatus-3 {
    color: #FFAF1D !important;
}

.status-0-no-substatus {
    color: #696969 !important;
}

.status {
    color: balck !important;
}

span.login-user {
    font-size: 16px;
    font-weight: 600;
}

.vehicle-follow {
    overflow: auto;
    max-height: calc(100vh - 320px);

}


.arrow-icon {
    padding: 8px 16px;
    display: flex;
    justify-content: end;

    .arrow {
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

::-webkit-scrollbar {
    height: 10px;
    width: 6px;
  }
  
  /* Target the draggable part of the scrollbar */
  ::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 10px;
  }
  
  /* Target the part of the track (part of the scrollbar) that is not covered by the handle. */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .alert-content {
    display: flex;
    justify-content: space-between;

    .alert-img {
        background-color: white;
        align-items: center;
        display: flex;
        justify-content: center;
        width: 68px;
        height: 30px;
        max-height: 60px;
        font-weight: 500;
        // border: 1px solid black;
    

      img {
        width: 40px;
        height: 40px;
        max-height: 40px;
      }
    }

    .alert-msg {
    //   width: 85%;
      padding-right: 22px;
    }
    ul.status-data {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 3px;
        li.swiper-part {
            border: 1px solid black;
        }

        span.vehicle-status {
            color: white;
            font-size: 13px;
            font-weight: 500;
        }
    }
  }

  i.fa.fa-angle-down {
    font-size: 36px;
}
.card-body {
    position: relative;
    padding: 4px 10px 0 10px !important;
}
