.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #2f387c;
  }
  .select-job {
    color: blue !important;
    cursor: pointer;
  }

  .dataTables_scrollBody.child-data {
    height: 400px;
  }