.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #2f387c;
  }

  
  .fa.fa-pencil {
    margin-right: 10px;
  }

  