<section class="main-content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                <li><a routerLink="/Registration/User_Master_App"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Staff Management</a></li>
                <li><a routerLink="/Registration/edit-employeeDetails"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Add More Details</a></li>
                <li><a routerLink="/Registration/add-health"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Add Health</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
            </app-alert> -->
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="healthFoarm">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">Employee Name</label>
                                <input type="text" formControlName="driver" class="form-control" 
                                [attr.disabled]="disabled == true ? true : null"
                                    placeholder="Enter Employee Name">
                            </div>

                            <div class="col-md-6 col-xl-3">
                                <label for="exampleInputEmail1" class="form-label">Father Name*</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"  [attr.disabled]="disabled == true ? true : null" placeholder="Enter Father Name*"
                                        aria-describedby="button-addon2" formControlName="fatherName" />
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <label for="exampleInputEmail1" class="form-label">Aadhar No.</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"  [attr.disabled]="disabled == true ? true : null" placeholder="Enter Aadhar No."
                                        aria-describedby="button-addon2" formControlName="aadharNo" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Health Cards Types.</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="cardType">
                                    <option value="government">Government</option>
                                    <option value="private">Private</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label">Health Cards No</label>
                                <input type="text" class="form-control" formControlName="cardNo"
                                    placeholder="Enter Health Cards">
                            </div>

                            <div class="col-md-6 col-xl-3">
                                <label for="exampleInputEmail1" class="form-label">Version Code</label>
                                <div class="input-group mb-3">
                                    <input type="text" placeholder="Version Code" formControlName="codeNo"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <label for="exampleInputEmail1" class="form-label">DOB.</label>
                                <div class="input-group mb-3">
                                    <input type="text" bsDatepicker placeholder="Date" formControlName="dob"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Valid form Date</label>
                                <div class="input-group mb-3">
                                    <input type="text" bsDatepicker placeholder="Date" formControlName="formDate"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Valid To Date</label>
                                <div class="input-group mb-3">
                                    <input type="text" bsDatepicker placeholder="Date" formControlName="toDate"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Blood Group</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="bloodGroup">
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Colour</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="colour">
                                    <option value="Light Skin">Light Skin</option>
                                    <option value="Dark Skin">Dark Skin</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Height</label>
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="height" placeholder="Enter Height"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Weight</label>
                                <div class="input-group mb-3">
                                    <input type="text" placeholder="Weight" formControlName="weight"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Eye Side Vision</label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="eyeVision">
                                    <option value="6/6">6/6</option>
                                    <option value="6/9">6/9</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Health Diseas</label>
                                <select class="form-select" aria-label="Default select example">
                                    <option></option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Any Illness</label>
                                <div class="input-group mb-3">
                                    <input type="text" formControlName="illness" placeholder="Enter Any Illness"
                                        class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="btn btn-primary" type="Submit" (click)="submit(healthFoarm.value)">
                                            <i class="fa fa-plus" aria-hidden="true"></i>Add
                                            Record
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="btn btn-danger" type="Submit">
                                            <i class="fa fa-times" aria-hidden="true"></i>Cancel
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>