<div>
    <!-- <apx-chart [series]="chartOptions?.series" 
    [chart]="chartOptions?.chart" 
    [plotOptions]="chartOptions?.plotOptions"
    [labels]="chartOptions?.labels" 
    [stroke]="chartOptions?.stroke" 
    [fill]="chartOptions?.fill" 
    [colors]="chartOptions?.colors"
    [dataLabels]="chartOptions?.dataLabels"
    [yaxis]="chartOptions?.yaxis"
    [xaxis]="chartOptions?.xaxis"
    [legend]="chartOptions?.legend"
    [tooltip]="chartOptions?.tooltip"
    [grid]="chartOptions?.grid"
    [annotations]="chartOptions?.annotations"
    [markers]="chartOptions?.markers"></apx-chart> -->
</div>
