<section class="main-content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                <li><a routerLink="/HR/leave-request"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                     Payroll  </a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-default">
                    Payroll
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">ESIC No.</label>
                          <div class="input-group mb-3">
                            <input
                              type="text"                             
                              class="form-control"
                              placeholder="ESIC No."
                              aria-describedby="button-addon2"
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Account No. </label>
                          <div class="input-group mb-3">
                            <input
                              type="text"
                             
                              class="form-control"
                              placeholder="Account No."
                              aria-describedby="button-addon2"
                             
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">IFSC Code</label>
                          <div class="input-group mb-3">
                            <input
                              type="text"
                             
                              class="form-control"
                              placeholder="IFSC Code"
                              aria-describedby="button-addon2"
                             
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Duties Done</label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Duties Done "
                              aria-describedby="button-addon2"
                              
                            />
                          </div>
                        </div>                    
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Spare Duties</label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Spare Duties"
                              aria-describedby="button-addon2"
                         
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Total Duties</label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Total Duties"
                              aria-describedby="button-addon2"
                        
                            />
                          </div>
                        </div>
                         <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Minimum Wage</label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Minimum Wage"
                              aria-describedby="button-addon2"
                            
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Incentive Category</label>
                          <select class="form-select" aria-label="Default select example" formControlName="incentiveCategory">
                            <option value="">Select</option>
                            <option value="1">A1</option>
                            <option value="2">A2</option>
                            <option value="3">A3</option>
                          </select>
                        </div>                   
                        
                      </div>
                      <div class="row">                            
                          <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Status</label>
                          <select class="form-select" aria-label="Default select example" formControlName="status">
                            <option value="">Select Status</option>
                            <option value="1">Active</option>
                            <option value="2">De-Active</option>
                          </select>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Incentive Amount </label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Incentive Amount"
                              aria-describedby="button-addon2"
                          
                            />
                          </div>
                        </div>
                        <div class="col-md-3">
                          <label for="exampleInputEmail1" class="form-label">Total </label>
                          <div class="input-group mb-3">
                            <input
                              type="number"
                             
                              class="form-control"
                              placeholder="Total Amount"
                              aria-describedby="button-addon2"
                            />
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
 

  
</section>