
<section class="main-content">
     <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                <li><a routerLink="/Registration/User_Master_App"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Staff Management</a></li>
                <li><a routerLink="/Registration/edit-employeeDetails"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Add More Details</a></li>
                        <li><a routerLink="/Registration/add-family"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Add Family</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
        </app-alert>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="familyForm">
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <label class="form-label">Employee Name</label>
                  <input type="text" formControlName="driver" [attr.disabled]="disabled == true ? true : null" class="form-control" placeholder="Enter Employee Name" >
                </div>
              
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Father Name*</label>
                  <div class="input-group mb-3">
                      <input
                        type="text"
                        formControlName="fatherName"
                        [attr.disabled]="disabled == true ? true : null"
                        class="form-control"
                        placeholder="Enter Father Name*"
                        aria-describedby="button-addon2"
                      />
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Aadhar No.</label>
                  <div class="input-group mb-3">
                      <input
                        type="text"
                        formControlName="aadharNo"
                        [attr.disabled]="disabled == true ? true : null"
                        class="form-control"
                        placeholder="Enter Aadhar No."
                        aria-describedby="button-addon2"
                      />
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <label for="exampleInputEmail1" class="form-label">Relation's Name.</label>
                    <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="relationName"
                          placeholder="Enter Relation's Name."
                          aria-describedby="button-addon2"                        />
                      </div>
                </div> 
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-3">
                  <label class="form-label">Relation</label>
                  <input type="text" class="form-control" formControlName="relation" placeholder="Enter Relation" >
                </div>
              
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">DOB*</label>
                  <div class="input-group mb-3">
                    <input type="text" formControlName="dob"  placeholder="Select Date"
                    class="form-control" bsDatepicker />
                    </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Occupation</label>
                  <div *ngIf="occupationArr && occupationArr.length > 0">
                    <select-filter [vehicleData]="occupationArr" [type]="'occupationArr'" [placeholder]="'Select occupation'"
                      (onConfirm)="confirm($event)"></select-filter>
                  </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-primary" type="Submit" (click)="submit(familyForm.value)"
                                > <i class="fa fa-plus"
                                    aria-hidden="true"></i>Add</div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn btn-danger" type="Submit" > <i
                                    class="fa fa-times" aria-hidden="true"></i>Cancel</div>
                        </div>
                    </div>
                </div> 
              </div>
             
            </form>
         
          </div>
        </div>
      </div>
    </div>
  </section>

 
  
  
  
  
    
      