
    <div class="row">
        <div class="geo">
            <div class="col-md-4">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Geo-Fence details
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-eg-55">
                            <div class="widget-chart p-3">
                                <form >
                                    <div>
                                        <sky-search-control   placeholder="Search Address"
                                        [isGlobalSearchEnabled]="false"
                                        [searchKey]="searchText"
                                        (sendValue)="getCordinates($event)"
                                        (input)="onSearchClear($event)"
                                      
                                        > </sky-search-control>
                                        <ng-template [ngIf]="checkvalue">
                                            <div class="user-exists">
                                        No address found !
                                            </div>
                                          </ng-template>
                                          <div class="mx-search-suggestions" *ngIf="newData.length > 0">
                                            <span *ngFor="let item of newData">
                                              <ul>
                                                <a>
                                                  {{ item?.formatted }} <br/>
                                                  <div class="lat"> 
                                                    <span class="badge badge-pill badge-primary">lat : {{item?.lat}}</span> &nbsp;
                                                  <span class="badge badge-pill badge-primary">  lon : {{item?.lon}}</span>
                                                  </div>
                                                  
                                              </a
                                                >
                                              </ul>
                                            </span>
                                          </div>
                                        <div class="row row-data">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Latitude"
                                                formControlName="selectedLat" aria-describedby="button-addon2" />
                                            </div>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control" placeholder="Longitude"
                                                formControlName="selectedLng" aria-describedby="button-addon2" />
                                            </div>
                                            <span style="text-align: center;color: red;" class="mb-2">You can also selected form map!</span>
                                           
                                        </div>
                                        <label for="exampleInputEmail1" class="form-label">Stop Name</label>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Enter Stop Name"
                                                formControlName="GeoFanceName" aria-describedby="button-addon2" />
                                        </div>
                                        <label for="exampleInputEmail1" class="form-label"> Latitude/Longitude</label>
                                        <div class="input-group mb-3">
                                            <textarea class="form-control" placeholder="Lat/lng"
                                                formControlName="selectedCorner" id="exampleFormControlTextarea1"
                                                rows="4"></textarea>
                                        </div>
    
                                        <label for="exampleInputEmail1" class="form-label">Status</label>
                                        <select class="form-select mb-3" aria-label="Default select example"
                                            formControlName="status">
                                            <option value=1 >Active</option>
                                            <option value=0>Not Active</option>
                                        </select>
    
                                        <div class="row">
                                            <div class="col-md-12" style="margin-left: 7px;">
                                                <button type="submit"
                                                    class="mr-2 btn-icon btn-icon-only btn btn-success mb-3 "
                                                          >
                                                    Save Record
                                                </button>
                                            </div>
                                            <div class="col-md-12" style="margin-left: 7px;">
                                                <button type="submit"
                                                    class="mr-2 mt-2 btn-icon btn-icon-only btn btn-primary mb-3">
                                                    Clear
                                                </button>
                                            </div>
    
                                        </div>
                                    </div>
                                </form>
    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mb-3 card">
                    <div class="card-header-tab card-header">
                        <div class="card-header-title">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            Create GeoFence
                        </div>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="tab-eg-55">
                            <div class="widget-chart p-3">
                                <div class="map-container">
                                    <div id="map2" style="width: 100%; height: 400px;"></div>
                                    <button 
                                        class="mt-4 mb-2 btn-icon btn-icon-only btn btn-warning">Get remove
                                        Coordinates</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
