<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/WorkShop/workshop_job_card">Workshop</a></li>
          <li><a routerLink="/WorkShop/workshop_job_card"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Job Card List </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-default">
            Job Card List
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button class="btn btn-primary" (click)="AddJobCard('/WorkShop/Add_job_card','')">
                  <i class="fa fa-plus"></i>
                  Add Job Card
                </button>
              </div>
            </div>
            <div class="row row-data">
              <div class="col-md-12">
                <div class="search-form">
                  <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                    class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                      aria-hidden="true"></i></button>
                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                        <option *ngFor="let size of tableSizes" [value]="size">
                            {{ size }}
                        </option>
                    </select>
                </div>
                  <div class="dataTables_scroll">
                    <div class="dataTables_scrollBody">
                      <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                        <loader [isRunning]="isloading"></loader>
                      </div>
                      <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid" #TABLE
                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                          <tr role="row">
                            <th *ngFor="let jobCardHeading of tableData">
                              <strong>{{jobCardHeading?.val}}</strong>
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngIf="!isloading">
                          <tr *ngFor="let job of jobCardList | searchFilter : searchKeyword |  paginate : {
                                            itemsPerPage: tableSize,
                                            currentPage: page,
                                            totalItems: count};">
                                           
                                            <td>{{job?.serialNumber}}</td>
                                            <td>{{job?.busNumber}}</td>
                                            <td>{{job?.odoReading}}</td>
                                            <td>{{job?.createdBy}}</td>
                                            <td>{{job?.creationTime}}</td>
                                            <td>{{job?.scheduledTime}}</td>
                                            <td>{{job?.deliveryTime}}</td>
                                            <td> <a  tooltip="Edit" (click)="AddJobCard('/WorkShop/Add_job_card/id', job)"
                                              rel="noopener noreferrer"><i class="fa fa-pencil"
                                                  aria-hidden="true"></i>
                                          </a></td>
                                          <td><a (click)="viewDetail(job?.jobCardID,job)" class="select-job" rel="noopener noreferrer">
                                            More Info</a></td>
                                            
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-center" style="width: 100%;" *ngIf=" jobCardList && jobCardList.length == 0 || jobCardList == null  && !isloading || !(jobCardList | searchFilter: searchKeyword)?.length"
                    >No Data Available</div>
                    <div class="pagination-data" *ngIf=" jobCardList && jobCardList.length > 0 && (jobCardList | searchFilter: searchKeyword)?.length">
                      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>