
.content img {
    max-width: 60%;
    height: auto;
}

  ul.vehicle-structure{
    padding-left: 0px !important;

    li {
        line-height: 1.8;
        border-bottom: #fff;
        padding-top: 10px;
        border-bottom: 1px solid #fff;
    }
  }


  .card {
    box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  }



  