<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
          <li><a routerLink="/Maintenance/TyreMaster"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Tyre Master</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button class="btn btn-primary" (click)="redirect()">
                <i class="fa fa-plus"></i>  Add Tyre
                </button>

              </div>
            </div>
            <div class="row row-data">
              <div class="col-md-12">
                <div class="search-form">
                  <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                    class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                      aria-hidden="true"></i></button>
                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_scroll">
                    <div class="p-2 bd-highlight">
                      <span>Items per page: </span>
                      <select (change)="onTableSizeChange($event)" class="custom-select">
                        <option *ngFor="let size of tableSizes" [value]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                    <div class="dataTables_scrollBody">
                      <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                        <loader [isRunning]="isloading"></loader>
                      </div>
                      <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                          <tr role="row">
                            <th *ngFor="let vehicleHeading of tableData">
                              <strong><div [innerHtml]="vehicleHeading?.val"></div></strong>
                            </th>
                          </tr>
                        </thead>
  
                        <tbody *ngIf="!isloading">
                          <tr *ngFor="let vehicle of tyreList | searchFilter: searchKeyword |  paginate : {
                                      itemsPerPage: tableSize,
                                      currentPage: page,
                                      totalItems: count};">
                                    
                            <!-- <td>{{vehicle?.depoT_NAME || 'NA'}}</td> -->
                            <td>{{vehicle?.tgenerateD_NO || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_TYPE || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_NO}}</td>
                            <td>{{vehicle?.tyrE_MAKE || 'NA'}}</td>
                            <td>{{formatedatevalue(vehicle?.tyrE_PURCHASE_DATE)}}</td>
                            <td>{{vehicle?.invoicE_NO || 'NA'}}</td>
                            <td>{{vehicle?.warranT_STATUS}}</td>
                            <td>{{vehicle?.stocK_TYRE || 'NA'}}</td>
                            <td>{{vehicle?.cosT_OF_TYRE || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_NSD || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_NSD_O}}</td>
                            <td>{{vehicle?.tyrE_NSD_M || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_NSD_I || 'NA'}}</td>
                            <td>{{vehicle?.tyrE_NSD_MM || 'NA'}}</td>
                            <td>{{vehicle?.taG_NO || 'NA'}}</td>  
                            <td>{{vehicle?.statuS_REMARK}}</td>
                            <td>
                              <a tooltip="Edit" rel="noopener noreferrer" (click)="updateTyreMaster(vehicle)"><i class="fa fa-pencil"
                              aria-hidden="true"></i>
                              </a>
                            </td>                        
                          </tr>
                        </tbody>
                      </table>
                      <div class="text-center" *ngIf="tyreList && tyreList.length == 0 || tyreList == null && !isloading || !(tyreList | searchFilter:searchKeyword)?.length"
                        style="width: 100%;">No Data Available</div>
                    </div>
                    <div class="pagination-data" *ngIf="tyreList && tyreList.length > 0 && (tyreList | searchFilter:searchKeyword)?.length">
                      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"
                        >
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
  
  <!-- <ng-template #TyreDetails>
    <tyre-details [modalRef]="tyreDetailsModalRef" [type]="'TYRE_MASTER'">
    </tyre-details>
  </ng-template> -->