<section class="main-content">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
          <li><a routerLink="/Dashboard/on_trip_status"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              All Trip Status Data</a></li>
        </ol>
      </div>
    </div>

  </div>

  <tabset responsiveTabs [justified]="true" #staticTabs>
    <tab (selectTab)="onTablValue('1')">
      <ng-template tabHeading>On Time</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-default">
              On Time List
            </div>
            <div class="card-body">
              <div class="row row-data">
                <div class="col-md-3">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="ExportTOExcel()">Export</button>
                </div>
                <div class="col-md-12">
                  <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead">
                      </div>
                      <div class="dataTables_scrollBody">
                        <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                          <loader [isRunning]="isloading"></loader>
                        </div>
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" #TABLE
                          role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                          <thead>
                            <tr role="row">
                              <th *ngFor="let vehicleHeading of tableData">
                                <strong>{{vehicleHeading?.value}}</strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!isloading">
                            <tr *ngFor="let user of outsheldingdata |  paginate : {
                                                                                      itemsPerPage: tableSize,
                                                                                      currentPage: page,
                                                                                      totalItems: count};">
                              <td>
                                <div *ngIf="user?.driver_name_sch === user?.driver_name">
                                  {{user?.driver_name}}
                                </div>
                                <div *ngIf="user?.driver_name_sch !== user?.driver_name">
                                  {{user?.driver_name}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.driver_name_sch}}</span>
                                </div>
                              </td>
                              <td>
                                <div *ngIf="user?.asset_no_sch === user?.asset_no">
                                  {{user?.asset_no}}
                                </div>
                                <div *ngIf="user?.asset_no_sch !== user?.asset_no">
                                  {{user?.asset_no}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.asset_no_sch}}</span>
                                </div>
                              </td>
                              <td>{{user?.route_no}}</td>
                              <td>{{user?.date}}</td>
                              <td>
                                <div *ngIf="user?.shift_type == 'M';">
                                  Morning
                                </div>
                                <div *ngIf="user?.shift_type == 'A';">
                                  Afternoon
                                </div>
                              </td>
                              <td>
                                {{user?.shift_on}}
                              </td>
                              <td>
                                {{user?.depo_out}}
                              </td>
                              <td>{{user?.lunch_start}}</td>
                              <td>
                                {{user?.lunch_end}}
                              </td>
                              <td>
                                {{user?.depo_in}}
                              </td>
                              <td>
                                {{user?.shift_off}}
                              </td>
                              <td>
                                {{user?.scheduled_km}}
                              </td>
                            </tr>
                          </tbody>

                        </table>
                        <div class="text-center"
                          *ngIf="outsheldingdata && outsheldingdata.length == 0 || outsheldingdata == null && !isloading"
                          style="width: 100%;">
                          No Data Available</div>
                      </div>
                      <div class="pagination-data" *ngIf="outsheldingdata && outsheldingdata.length > 0">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                          (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </tab>
    <tab (selectTab)="onTablValue('2')">
      <ng-template tabHeading>Running Late</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-default">
              Running Late List
            </div>
            <div class="card-body">
              <div class="row row-data">
                <div class="col-md-3">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="ExportTOExcel()">Export</button>
                </div>
                <div class="col-md-12">
                  <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead">
                      </div>
                      <div class="dataTables_scrollBody">
                        <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                          <loader [isRunning]="isloading"></loader>
                        </div>
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" #TABLE
                          role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                          <thead>
                            <tr role="row">
                              <th *ngFor="let vehicleHeading of tableData">
                                <strong>{{vehicleHeading?.value}}</strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!isloading">
                            <tr *ngFor="let user of outsheldingdata |  paginate : {
                                      itemsPerPage: tableSize,
                                      currentPage: page,
                                      totalItems: count};">
                              <td>
                                <div *ngIf="user?.driver_name_sch === user?.driver_name ; else elseBlockk">
                                  {{user?.driver_name}}
                                </div>
                                <ng-template #elseBlockk>
                                  {{user?.driver_name}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.driver_name_sch}}</span>
                                </ng-template>
                              </td>
                              <td>
                                <!-- <div *ngIf="user?.asset_no_sch === user?.asset_no ; else elseBlockk">
                                </div> -->
                                {{user?.asset_no}}
                                <!-- <ng-template #elseBlockk>
                                  {{user?.asset_no}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.asset_no_sch}}</span>
                                </ng-template> -->
                              </td>
                              <td>{{user?.route_no}}</td>
                              <td>{{user?.date}}</td>
                              <td>
                                <div *ngIf="user?.shift_type == 'M';">
                                  Morning
                                </div>
                                <div *ngIf="user?.shift_type == 'A';">
                                  Afternoon
                                </div>
                              </td>
                              <td>
                                <!-- {{user?.shift_on}} -->
                                <div *ngIf="user?.shift_on_sch === user?.shift_on;">
                                  {{user?.shift_on}}
                                </div>
                                <div *ngIf="user?.shift_on_sch !== user?.shift_on;">
                                  {{user?.shift_on}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.shift_on_sch}}</span>
                                </div>
                              </td>
                              <td>
                                <!-- {{user?.depo_out}} -->
                                <div *ngIf="user?.depo_out_sch === user?.depo_out">
                                  {{user?.depo_out}}
                                </div>
                                <div *ngIf="user?.depo_out_sch !== user?.depo_out">
                                  {{user?.depo_out}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.depo_out_sch}}</span>
                                </div>
                              </td>
                              <td>{{user?.lunch_start}}</td>
                              <td>
                                {{user?.lunch_end}}
                              </td>
                              <td>
                                <!-- {{user?.depo_in}} -->
                                <div *ngIf="user?.depo_in_sch === user?.depo_in">
                                  {{user?.depo_in}}
                                </div>
                                <div *ngIf="user?.depo_in_sch !== user?.depo_in">
                                  {{user?.depo_in}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.depo_in_sch}}</span>
                                </div>
                              </td>
                              <td>
                                <!-- {{user?.shift_off}} -->
                                <div *ngIf="user?.shift_off_sch === user?.shift_off">
                                  {{user?.shift_off}}
                                </div>
                                <div *ngIf="user?.shift_off_sch !== user?.shift_off">
                                  {{user?.shift_off}} <br />
                                  <span class="badge rounded-pill bg-danger">{{user?.shift_off_sch}}</span>
                                </div>
                              </td>

                              <td>
                                {{user?.scheduled_km}}
                              </td>
                            </tr>
                          </tbody>

                        </table>
                        <div class="text-center"
                          *ngIf="outsheldingdata && outsheldingdata.length == 0 || outsheldingdata == null && !isloading"
                          style="width: 100%;">
                          No Data Available</div>
                      </div>
                      <div class="pagination-data" *ngIf="outsheldingdata && outsheldingdata.length > 0">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                          (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </tab>
    <tab (selectTab)="onTablValue('3')">
      <ng-template tabHeading>Bus Replacement</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-default">
              Bus Replacement List
            </div>
            <div class="card-body">
              <div class="row row-data">
                <div class="col-md-3">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="ExportTOExcel()">Export</button>
                </div>
                <div class="col-md-12">
                  <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead">
                      </div>
                      <div class="dataTables_scrollBody">
                        <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                          <loader [isRunning]="isloading"></loader>
                        </div>
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" #TABLE
                          role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                          <thead>
                            <tr role="row">
                              <th *ngFor="let vehicleHeading of tableData3">
                                <strong>{{vehicleHeading?.value}}</strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!isloading">
                            <tr *ngFor="let user of outsheldingdata |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                              <td> {{user?.asset_no}}</td>
                              <td>{{user?.route_no}}</td>
                              <td>
                                <div *ngIf="user?.shift_type == 'M'; else elseBlockk">
                                  Morning
                                </div>
                                <ng-template #elseBlockk>
                                  Afternoon
                                </ng-template>
                              </td>
                              <td>{{user?.date}}</td>
                              <td>{{user?.asset_no_sch}}</td>
                              <td>{{user?.asset_no}}</td>
                              <td></td>
                            </tr>
                          </tbody>

                        </table>
                        <div class="text-center"
                          *ngIf="outsheldingdata && outsheldingdata.length == 0 || outsheldingdata == null && !isloading"
                          style="width: 100%;">
                          No Data Available</div>
                      </div>
                      <div class="pagination-data" *ngIf="outsheldingdata && outsheldingdata.length > 0">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                          (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </tab>
    <tab (selectTab)="onTablValue('4')">
      <ng-template tabHeading>Driver Replacement</ng-template>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-default">
              Driver Replacement List
            </div>
            <div class="card-body">
              <div class="row row-data">
                <div class="col-md-3">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <button class="btn btn-primary" (click)="ExportTOExcel()">Export</button>
                </div>
                <div class="col-md-12">
                  <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                      <div class="dataTables_scrollHead">
                      </div>
                      <div class="dataTables_scrollBody">
                        <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                          <loader [isRunning]="isloading"></loader>
                        </div>
                        <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" #TABLE
                          role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                          <thead>
                            <tr role="row">
                              <th *ngFor="let vehicleHeading of tableData4">
                                <strong>{{vehicleHeading?.value}}</strong>
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="!isloading">
                            <tr *ngFor="let user of outsheldingdata |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                              <td>{{user?.driver_name}}</td>
                              <td>{{user?.asset_no}}</td>
                              <td>{{user?.driver_name_sch}}</td>
                              <td></td>
                              <td></td>
                            </tr>
                          </tbody>

                        </table>
                        <div class="text-center"
                          *ngIf="outsheldingdata && outsheldingdata.length == 0 || outsheldingdata == null && !isloading"
                          style="width: 100%;">
                          No Data Available</div>
                      </div>
                      <div class="pagination-data" *ngIf="outsheldingdata && outsheldingdata.length > 0">
                        <pagination-controls previousLabel="Prev" nextLabel="Next"
                          (pageChange)="onTableDataChange($event)">
                        </pagination-controls>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</section>