 
 i.fa.fa-pencil {
    margin-right: 13px;
}

.mr-2.btn-icon.btn-icon-only.btn.btn-primary.upload {
   width: 100%;
 }

 .fa.fa-plus {
   background: none !important;
 }


 .mat-elevation-z8 {
   box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
   scrollbar-width: thin;
   overflow-x: scroll;
 }

 .upload{
  margin-top: 30px;
 }

 
 .search-form {
  float: right;
  margin-top: 30px;
}

.search-input {
  border-color:#2f387c !important;
}

.search-form .btn-search {
  color: #2f387c;
}

// .search-form {
//   margin-top: -5px;
// }