::ng-deep {
    .active.nav-item {
        background: #2c3477;
      }
      .nav-tabs .nav-link.active {
        color: white;
        border-bottom: 2px solid #2f387c;
        background: none;
      }

}

a.stop-view {
  color: blue!important;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}