<section class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="bgimg">
                        <div class="middle">
                            <h1> <img class="logo" src="assets/images/under-development.png" />COMING SOON</h1>
                            <hr>
                            <p id="getTimeValue" style="font-size:30px"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>