.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    font-size: 25px;
    .logo{
        width: 100px;
        height: 100px;
    }
  }
  
  .middle {
    text-align: center;
  }