.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #2f387c;
  }
  .fa.fa-pencil {
    margin-right: 10px;
  }

// .text-center {
//   text-align: center;
// }

.action-btn {
  min-width: 60px; /* adjust as needed */
  padding: 2px 8px;
  font-size: 0.75rem; /* smaller font */
  margin: 0 auto;
  display: inline-block;
}
