.p-2{
    display: flex;
    justify-content: space-between;
} 
.badge {
    display: inline-block;
    // /* width: auto; */
    // /* font-size: 10px; */
   font-weight: 700;
    line-height: 27px;
    /* padding: 0.25em 0.6em; */
}
.bg-info{
    cursor: pointer;
}
.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #2f387c;
  }
  .count {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
  }