<section class="main-content">
  <div class="row">
    <div class="col-lg-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/battery-management/battery_link">Battery Management</a></li>
        <li><a routerLink="/battery-management/warrenty_battery_receive"> <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i>
            Warrenty Battery Receive</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
      </app-alert>
      <div class="card">
        <div class="card-body">
           <form [formGroup]="warrantyReceivedForm"> 
            <div class="row">
              <div class="col-md-4 col-lg-3">
                <div class="select-type">
                  <label for="exampleInputEmail1" class="form-label">Claim Status
                  </label>
                </div>
                <select class="form-select" aria-label="Default select example" formControlName="status">
                  <option selected>Select</option>
                  <option value="1">Approved</option>
                  <option value="2">Reject</option>
                  <option value="3">Rectify</option>
                </select>
              </div>
              <div class="col-md-4 col-lg-3">
                <div class="select-type">
                  <label for="exampleInputEmail1" class="form-label">
                    Battery No
                  </label>
                </div>
                <select class="form-select" aria-label="Default select example">
                  <option selected>Select</option>
                  <option value="1">Yes</option>
                  <option value="2">No</option>
                </select>
              </div>
              <div class="col-md-4 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">
                  Enter Reason</label>
                <input type="text" class="form-control" formControlName="reason" placeholder="Enter Battery New" />
              </div>
           
            <div class="col-md-4 col-lg-3">
              <label class="form-label">Image</label>
              <input class="form-control" formControlName="img" type="file" id="formFile" (change)="changeDocument($event)">
            </div>
          </div>

            <div class="row row-data">
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">
                  Enter New Battery No</label>
                <input type="text" formControlName="newBatteryNo" class="form-control" placeholder="Enter Battery Number" />
              </div>

              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">Invoice Date</label>
                <input type="text" formControlName="date" class="form-control" #dp="bsDatepicker" bsDatepicker />
              </div>
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">Invoice No</label>
                <input type="text"  formControlName="invoiceNo" class="form-control" placeholder="Enter Invoice Number" />
              </div>
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">Warranty Expiry Date</label>
                <input type="text" class="form-control" formControlName="expireDate" #dp="bsDatepicker" bsDatepicker />
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-3">
                <br>
                <button class=" btn btn-success" [disabled]="!warrantyReceivedForm.valid" (click)="submit(warrantyReceivedForm.value)">
                  <i class="fa fa-save" aria-hidden="true"></i>Save Changes
                </button>
              </div>
              <div class="col-md-6 col-lg-3">
                <br>
                <button class="btn btn-danger">
                  <i class="fa fa-times" aria-hidden="true"></i>Clear
                </button>
              </div>
            </div>
          </form> 

          <div class="row row-data">
            <div class="col-md-12">
              <div class="search-form">
                <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                  class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
              </div>
              <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_scroll">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                  <div class="dataTables_scrollBody">
                    <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                      <loader [isRunning]="isloading"></loader>
                    </div>
                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                      aria-describedby="datatable_info" style="width: 100%" width="100%">
                      <thead>
                        <tr role="row">
                          <th *ngFor="let vehicleHeading of tableData">
                            <strong>{{vehicleHeading?.val}}</strong>
                          </th>
                        </tr>
                      </thead>

                      <tbody *ngIf="!isloading">
                        <tr *ngFor="let battery of warrentyReceivedList | searchFilter: searchKeyword |  paginate : {
                                      itemsPerPage: tableSize,
                                      currentPage: page,
                                      totalItems: count};">
                                      <td>{{battery?.witH_CLAIM_STATUS}}</td>
                                      <td>{{battery?.warrantY_NO}}</td>
                                      <td></td>
                                      <td>{{battery?.neW_BATTERY_NO}}</td>
                                      <td>{{battery?.invoicE_NO}}</td>
                                      <td>{{battery?.invoicE_DATE}}</td>
                                      <td>{{battery?.claiM_DATE}}</td>
                          
                        </tr>
                      </tbody>
                    </table> 
                    <div class="text-center"  *ngIf="warrentyReceivedList && warrentyReceivedList.length == 0 || warrentyReceivedList == null && !isloading"
                     style="width: 100%;">No Data Available</div>
                  </div>
                  <div class="pagination-data" *ngIf="warrentyReceivedList && warrentyReceivedList.length">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>