<section class="main-content">
  <div class="row">
    <div class="col-lg-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
        <li><a routerLink="/Dashboard/FleetStatus_DMS_RouteWise"> <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i>
            Route Status</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-default">
          <div class="float-right mt-10">
            <button class="btn btn-primary clear-button" (click)="resetFilter()">
              Clear Filters
            </button>
          </div>
          <div class="col-md-3 select-data">
            <div class="form-group">
              <select class="form-select" [(ngModel)]="refreshValue" aria-label="Default select example"
                (change)="onChangeRefreshSec($event)">
                <option value="null">Select Refresh Sec</option>
                <option *ngFor="let sec of refreshSecond" value="{{sec?.value}}">{{sec?.value}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-content collapse show">
          <div class="card-body card-dashboard">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
            </div>

            <div class="row">
              <div class="col-md-2" *ngFor="let vehicleTrack of vehiclelistData['trackList']">
                <div class="widget" [ngStyle]="{'background-color': modifycolour(vehicleTrack['route_color'])}">
                  <div class="row row-table ">
                    <div class="margin-b-10" (click)="selectedMapList(vehicleTrack?.fs_value)">
                      <h2 class="margin-b-5 text-muted">{{vehicleTrack['total']}}</h2>
                      <a class=" add-button"
                        >
                        {{vehicleTrack['ts_status']}}
                      </a>
                      <!-- <a class=" add-button"
                      (click)="vehicleListBasedOnTrackList(vehicleTrack['route_id'],vehicleTrack['fs_value'])"
                      >
                      {{vehicleTrack['ts_status']}}
                    </a> -->
                  </div>
                  <!-- <span class="text-right" style="float: right;color: #fff;font-size: 14px;cursor: pointer;" (click)="vehicleListBasedOnTrackList(vehicleTrack['route_id'],vehicleTrack['fs_value'], '')">Map View</span>  -->
                  <span class="text-right" style="float: right;color: #fff;font-size: 14px;cursor: pointer;" (click)="redirectVehicleToRoute(vehicleTrack?.route_id,'Route')">Map View</span> 
                    <div class="all-data">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-data">
              <div class="row">
                <div class="col-md-3">
                  <div class="p-2 bd-highlight">
                    <span>Items per page: </span>
                    <select (change)="onTableSizeChange($event)" class="custom-select">
                      <option *ngFor="let size of vehiclelistData.tableSizes" [value]="size">
                        {{ size }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <div class="search-form">
                    <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                      class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
                  </div>
                </div>
                <div class="col-md-3">
                  <!-- <button class="btn btn-primary" (click)="redirectTo()"><i class="fa fa-plus"></i> Add Device</button> -->
                  <button class="btn btn-primary" (click)="ExportTOExcel()">Export</button>
    
                </div>
              </div>
              <div class="col-md-12">

                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_scroll">
                    <div class="dataTables_scrollHead">
                    </div>
                    <div class="dataTables_scrollBody">
                      <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                        <loader [isRunning]="vehiclelistData.isloading"></loader>
                      </div>
                      <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" #TABLE
                        role="grid" aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                          <tr role="row">
                            <th *ngFor="let vehicleHeading of tableData">
                              <strong>{{vehicleHeading?.val}}</strong>
                            </th>
                          </tr>
                        </thead>
                        <!-- <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                                                <loader [isRunning]="vehiclelistData.isloading"></loader>
                                              </div> -->
                        <tbody *ngIf="!vehiclelistData.isloading">
                          <tr *ngFor="let vehicle of mapList | searchFilter: searchKeyword |  paginate : {
                                                  itemsPerPage: vehiclelistData.tableSize,
                                                  currentPage: vehiclelistData.page,
                                                  totalItems: vehiclelistData.count};">
                            <td>{{vehicle?.sn}}</td>
                            <td>
                              {{vehicle?.device || 'NA'}}
                            </td>
                            <td  (click)="redirectToRoute(vehicle?.routE_ID, vehicle?.id, 'RouteVehicle')" style="color: blue !important;cursor: pointer;">{{vehicle?.asseT_NO || 'NA'}}</td>
                            <!-- <td (click)="vehicleListBasedOnTrackList(vehicle['routE_ID'],vehicle['fS_VALUE'], vehicle?.id,'Route')" style="color: blue !important;cursor: pointer;">{{vehicle?.asseT_NO || 'NA'}}</td> -->
                            <td>{{vehicle?.speed || 'NA'}}</td>
                            <td>{{vehicle?.place || 'NA'}}</td>
                            <td>{{vehicle?.timeu || 'NA'}}</td>
                            <td>{{vehicle?.pwr || 'NA'}}</td>
                            <td *ngIf="vehicle['ign']=='0'">
                              <img style="width: 24px; height: 16px"
                                src="../../../../../assets/images/switch-off-icon.png" />
                            </td>
                            <td *ngIf="vehicle['ign']=='1'">
                              <img style="width: 24px; height: 16px"
                                src="../../../../../assets/images/switch-on-icon.png" />
                            </td>
                            <td *ngIf="vehicle['ign']==''">
                              {{vehicle['ign'] || 'NA'}}
                            </td>

                            <td>{{vehicle?.voltage || 'NA'}}</td>
                            <td>{{vehicle?.timeg || 'NA'}}</td>
                            <td *ngIf="vehicle['sos']=='Closed'">
                              <img style="width: 24px; height: 16px" src="../../../../../assets/images/right-sign.png"
                                alt="">
                            </td>
                            <td *ngIf="vehicle['sos']==''">
                              {{vehicle['sos']}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-center" *ngIf="mapList && mapList.length == 0 || mapList == null && !vehiclelistData['isloading'] || !(mapList | searchFilter:searchKeyword)?.length"
                      style="width: 100%;">No Data Available</div>
                    <div class="pagination-data" *ngIf="mapList && mapList.length > 0 && (mapList | searchFilter:searchKeyword)?.length">
                      <pagination-controls previousLabel="Prev" nextLabel="Next"
                        (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="tab-content px-1 pt-1">
        <div class="tab-pane" [ngClass]="tabId == '1' ? 'my_class1' : ''" aria-labelledby="base-tab1">
          <div *ngIf="tabId == '1'">
            <section id="base-style">

            </section>
          </div>
        </div>
        <!-- <div [ngClass]="tabId == '2' ? 'my_class1' : ''" class="tab-pane">
          <div *ngIf="tabId == '2'">
           <app-mapview2></app-mapview2>
          </div>
        </div>
        <div [ngClass]="tabId == '3' ? 'my_class1' : ''" class="tab-pane">
          <div *ngIf="tabId == '3'">
           <app-can-data></app-can-data>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-default">
          <div class="float-right mt-10">
            <button class="mr-2 btn-icon btn-icon-only btn btn-outline-primary clear-button" (click)="resetFilter()">
              Clear Filters
            </button>
          </div>
          <div class="col-md-3 select-data">
            <div class="form-group">
              <select class="form-select" [(ngModel)]="refreshValue" aria-label="Default select example"
                (change)="onChangeRefreshSec($event)">
                <option value="null">Select Refresh Sec</option>
                <option *ngFor="let sec of refreshSecond" value="{{sec?.value}}">{{sec?.value}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">   

          <div class="tabs">
            <tabset>
                <tab heading="Map View" id="tab1">
                    <div class="tab-content" *ngIf="tabData == 1"  >
                        <div class="tab-pane fade active show" id="tab-eg-55" (click)="tab(1)">
                          <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                          </div>
                
                          <div class="row">
                            <div class="col-md-2" *ngFor="let vehicleTrack of vehiclelistData['trackList']">
                              <div class="widget " [ngStyle]="{'background-color': modifycolour(vehicleTrack['route_color'])}">
                                <div class="row row-table ">
                                  <div class="margin-b-10">
                                    <h2 class="margin-b-5 text-muted">{{vehicleTrack['total']}}</h2>
                                  </div>
                                  <div class="all-data">
                                    <a class=" add-button"
                                      (click)="vehicleListBasedOnTrackList(vehicleTrack['route_id'],vehicleTrack['fs_value'])">
                                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                      {{vehicleTrack['ts_status']}}
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row row-data">
                            <div class="col-md-12">
                              <div class="search-form">
                                <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                                  class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                                    aria-hidden="true"></i></button>
                              </div>
                              <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="dataTables_scroll">
                                  <div class="p-2 bd-highlight">
                                    <span>Items per page: </span>
                                    <select (change)="onTableSizeChange($event)" class="custom-select">
                                      <option *ngFor="let size of vehiclelistData.tableSizes" [value]="size">
                                        {{ size }}
                                      </option>
                                    </select>
                                  </div>
                                  <div class="dataTables_scrollHead">
                                  </div>
                                  <div class="dataTables_scrollBody">
                                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                                      aria-describedby="datatable_info" style="width: 100%" width="100%">
                                      <thead>
                                        <tr role="row">
                                          <th *ngFor="let vehicleHeading of tableData">
                                            <strong>{{vehicleHeading?.val}}</strong>
                                          </th>
                                        </tr>
                                      </thead>
                                       <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                                                    <loader [isRunning]="vehiclelistData.isloading"></loader>
                                                  </div> 
                                      <tbody>
                                        <tr *ngFor="let vehicle of mapList |  paginate : {
                                                      itemsPerPage: vehiclelistData.tableSize,
                                                      currentPage: vehiclelistData.page,
                                                      totalItems: vehiclelistData.count};">
                                          <td>{{vehicle?.sn}}</td>
                                          <td>
                                            {{vehicle?.device || 'NA'}}
                                          </td>
                                          <td>{{vehicle?.asseT_NO || 'NA'}}</td>
                                          <td>{{vehicle?.speed || 'NA'}}</td>
                                          <td>{{vehicle?.place || 'NA'}}</td>
                                          <td>{{vehicle?.timeu || 'NA'}}</td>
                                          <td>{{vehicle?.pwr || 'NA'}}</td>
                                          <td *ngIf="vehicle['ign']=='0'">
                                            <img style="width: 24px; height: 16px"
                                              src="../../../../../assets/images/switch-off-icon.png" />
                                          </td>
                                          <td *ngIf="vehicle['ign']=='1'">
                                            <img style="width: 24px; height: 16px"
                                              src="../../../../../assets/images/switch-on-icon.png" />
                                          </td>
                                          <td *ngIf="vehicle['ign']==''">
                                            {{vehicle['ign'] || 'NA'}}
                                          </td>
                
                                          <td>{{vehicle?.voltage || 'NA'}}</td>
                                          <td>{{vehicle?.timeg || 'NA'}}</td>
                                          <td *ngIf="vehicle['sos']=='Closed'">
                                            <img style="width: 24px; height: 16px" src="../../../../../assets/images/right-sign.png"
                                              alt="">
                                          </td>
                                          <td *ngIf="vehicle['sos']==''">
                                            {{vehicle['sos']}}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                    <div class="text-center" *ngIf="mapList == null && !vehiclelistData['isloading']"
                                      style="width: 100%;">No Data Available</div>
                                  </div>
                                  <div class="pagination-data" *ngIf="mapList !== null">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                                    </pagination-controls>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </tab>
                <tab heading="Dynamic Status" >
                    <div class="tab-content" >
                        <div class="tab-pane fade active show" id="tab-eg-55" *ngIf="tabData == 2" (click)="tab(2)">
                          test
                           <app-mapview2></app-mapview2>

                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        </div>
      </div>
    </div>
  </div> -->
</section>