.modal-popup .card {
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.modal-popup .card h5 {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 8px;
}

.modal-popup ul li {
  margin-bottom: 6px;
  font-size: 14px;
}

.modal-popup .badge {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 12px;
}
