

<div class="">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="location-data">
                    <div id="map" class="map-container"></div>
                    <div id="popup-content" #myDiv></div>
                </div>
            </div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content" #myDiv></div>
              </div> 
               <div class="sidepanel"  [ngStyle]="{'display': isOpenlocationData ? 'block' : 'none','width' : isOpenlocationData ? '400px' : ''}">
                <div class="container">
                  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()" >×</a>
                  <div class="vehicle-location">
                    <ul>
                      <li>
                        <span>Vehicle: {{filteredData?.asseT_NO}} | Driver : {{filteredData?.driver == '' ? 'N/A' : filteredData?.driver  }} </span>
                      </li>
                      <li>
                        <span>Time: {{filteredData?.timeg}}</span>
                      </li>
                        <li>
                        <span>Place: {{filteredData?.place}}</span>
                      </li>
                      <li>
                        <span>Lat,Long: {{filteredData?.lat}},
                          {{filteredData?.lon}}</span>
                      </li>
                      <li>
                        <span>SOC: {{filteredData?.soc}}</span>
                      </li>                      
                      <li>
                        <span>Milage: {{filteredData?.milage}}</span>, <span>  Charging: {{filteredData?.charging_Status}}</span> 
                      </li>
                      <li>
                        <span>Total Voltage: {{filteredData?.total_Voltage}}</span> 
                      </li>
                      <li>
                        <span>Total Current: {{filteredData?.total_Current}}</span> 
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
