<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/WorkShop/Inter_Warehouse_Spares_Transfer">Warehouse</a></li>
          <li><a routerLink="/WorkShop/Inter_Warehouse_Spares_Transfer"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Inter Warehouse Spares Transfer </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-default">
            Inter Warehouse Spares Transfer
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button class="btn btn-primary" (click)="AddInterWarehouseTransfer('/WorkShop/add_inter_warehouse_spares_transfer', '')">
                  <i class="fa fa-plus"></i>
                  Add Inter Warehouse Spares Transfer
                </button>
              </div>
            </div>
            <div class="row row-data">
              <div class="col-md-12">
                <!-- <img id="myimage" [src]='imgValue' /> -->
                <div class="search-form">
                  <input placeholder="Search for..." type="text"
                    class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                      aria-hidden="true"></i></button>
                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_scroll">
                    <div class="p-2 bd-highlight">
                      <span>Items per page: </span>
                      <select (change)="onTableSizeChange($event)" class="custom-select">
                        <option *ngFor="let size of tableSizes" [value]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                    <div class="dataTables_scrollBody">
                      <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                        <!-- <loader [isRunning]="isloading"></loader> -->
                      </div>
                      <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                          <tr role="row">
                            <th *ngFor="let vehicleHeading of tableData">
                              <strong>{{vehicleHeading?.val}}</strong>
                            </th>
                          </tr>
                        </thead>
  
                        <tbody *ngIf="!isloading">
                       
                        </tbody>
                      </table>
                    </div>
                    <div class="text-center"
                      style="width: 100%;">No Data Available</div>
                    <div class="pagination-data" >
                      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>