$color-red: #ce0e2d;
$color-dark-gray: #383838;
$color-light-black: #4c4d4b;
$color-blue: #055989;
$color-medium-black: #202020;
$color-white: #fff;
$color-light-gray: #f8f8f8;
$color-medium-gray: #e8e8e8;
$color-gray: #b1b1b1;
$color-gray-b7 : #b7b7b7;
$color-gray-b1 : #b1b1b1;
$color-black: #000;
$color-light-sea-green :#dbf4f2;
$color-teal: #008380;
$profile-menu-color: #2c3477;

:root {
    --color-red: #ce0e2d;
    --color-dark-gray: #383838;
    --color-light-black: #4c4d4b;
    --color-blue: #055989;
    --color-medium-black: #202020;
    --color-white: #fff;
    --color-light-gray: #f8f8f8;
    --color-medium-gray: #e8e8e8;
    --color-gray: #b1b1b1;
    --color-gray-b7: #b7b7b7;
    --color-dark-back: #000;
}