.text-center{
    text-align: center;
}
::ng-deep .modal-content .modal-header .modal-title {
    font-size: 14px;
    color: #fff;
}
.arrow-container {
    /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    padding-top: 10px;
    width: 50px;
  height: 50px;
  }
  .up-logo {
    width: 100%;
  }
  
  .arrow-down {
    height: 6px;
    background: black;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
  }
  
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: black;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  .arrow-up {
    height: 6px;
    background: black;
    transform: rotate(225deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
     &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 100%;
        border-radius: 5px;
        background: black;
        transform: rotate(-90deg);
        transform-origin: 0% 100%;
      
     }
  }
  
  
  @keyframes bounce {
    50% {
      transform: translateY(-15px);
    }
  }
.headersetup{
    display: flex;
    gap: 250px;
}
.updown{
    display: flex;
}

.obu-data {
  float: right;
  cursor: pointer;
  img {
    width: 35px;
}
}