<section class="main-content">
  <div class="row">
    <div class="col-lg-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/Maintenance/Bat_Battery_Link_Depot">Battery Management</a></li>
        <li><a routerLink="/Maintenance/Bat_Battery_Link_Depot"> <i class="fa fa-long-arrow-right"
              aria-hidden="true"></i>
            Battery Link</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <button class="btn btn-primary"
                (click)="onAddBatteryLink('/Maintenance/Add-Battery-link', '')">
                <span><i class="fa fa-plus" aria-hidden="true"></i> Add Battery
                  Linking</span>
              </button>
            </div>
          </div>
          <form [formGroup]="batteryLinkform">
            <div class="row row-data">
              <div class="col-md-4 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">Vehicle No.
                </label>
                <div *ngIf="selectedValue">
                  <select-filter [selectedValue]="selectedValue" [vehicleData]="vehicleData" [type]="'Vehicle'"
                    [placeholder]="'Select Vehicle'" (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedValue && vehicleData && vehicleData.length > 0 ">
                  <select-filter [vehicleData]="vehicleData" [type]="'Vehicle'" [placeholder]="'Select Vehicle'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedValue && !vehicleData || vehicleData.length == 0">
                  <select-filter [type]="'Vehicle'" [placeholder]="'Select Vehicle'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">
                  Battery No</label>
                <div *ngIf="selectedBatteryValue">
                  <select-filter [selectedValue]="selectedBatteryValue" [vehicleData]="BatteryList" [type]="'Battery'"
                    [placeholder]="'Select Battery'" (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedBatteryValue && BatteryList && BatteryList.length > 0 ">
                  <select-filter [vehicleData]="BatteryList" [type]="'Battery'" [placeholder]="'Select Battery'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedBatteryValue && !BatteryList || BatteryList.length == 0">
                  <select-filter [type]="'Battery'" [placeholder]="'Select Battery'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">From Date</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="formDate" />
              </div>
              <div class="col-md-6 col-lg-3">
                <label for="exampleInputEmail1" class="form-label">To Date</label>
                <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker formControlName="Todate" />
              </div>
            </div>
            <div class="row row-data">
              <div class="col-md-6 col-lg-3"></div>
              <div class="col-md-6 col-lg-3"></div>
              <div class="col-md-6 col-lg-3"></div>
              <div class="col-md-6 col-lg-3">
                <button class="btn btn-success" (click)="submit(batteryLinkform.value)">
                  <i class="fa fa-eye" aria-hidden="true"></i> Show Record
                </button>
              </div>
            </div>
          </form>
          <div class="row row-data">
            <div class="col-md-12">
              <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                <div class="dataTables_scroll">
                  <div class="dataTables_scrollBody">
                    <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                      <loader [isRunning]="isloading"></loader>
                    </div>
                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                      aria-describedby="datatable_info" style="width: 100%" width="100%">
                      <thead>
                        <tr role="row">
                          <th *ngFor="let vehicleHeading of tableData">
                            <strong>{{vehicleHeading?.val}}</strong>
                          </th>
                        </tr>
                      </thead>

                      <tbody *ngIf="!isloading">
                        <tr *ngFor="let battery of batteryLinkData | searchFilter: searchKeyword |  paginate : {
                                      itemsPerPage: tableSize,
                                      currentPage: page,
                                      totalItems: count};">
                          <td>{{battery?.vehiclE_NO}}</td>
                          <td>{{battery?.batterY_NO}}</td>
                          <td>{{battery?.kM_INSTALLATION}}</td>
                          <td>{{battery?.batterY_INSTALLATION_DATE}}</td>
                          <td>{{battery?.baT_LOCATION}}</td>
                          <td>
                            <a tooltip="Edit" rel="noopener noreferrer"   (click)="onAddBatteryLink('/Maintenance/Add-Battery-link/id', battery)"><i class="fa fa-pencil"
                              aria-hidden="true"></i>
                          </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="text-center"
                      *ngIf="batteryLinkData && batteryLinkData.length == 0 || batteryLinkData == null && !isloading"
                      style="width: 100%;">No Data Available</div>
                  </div>
                  <div class="pagination-data" *ngIf="batteryLinkData && batteryLinkData.length > 0">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>