.dataTables_scrollBody.child-data {
    height: 400px;
  }

.modal-content .modal-header {
    position: relative;
}

.close-modal {
    position: absolute;
    right: 22px;
}

.fa.fa-close {
    color: white;
    font-size: 17px;
}
