<!-- <ng-template #deleteVehicleTemplate>
  <confirmation-popup [modalRef]='deleteVehicleData' [message]='message' (onConfirm)="confirm($event)">
  </confirmation-popup>
</ng-template> -->

<section class="main-content" *ngIf="requestType !== 'Complain'">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                <li><a routerLink="/dashboard/Complaint_Dashboard"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Complaint Dashboard</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget padding-15 bg-red">
                                <div class="row row-table">
                                    <div class="margin-b-30">
                                        <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.totalComplaint}}
                                        </h2>
                                        <h2 class="margin-b-5 text-muted">Total Complaints</h2>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary add-button" (click)="redirectTo('showAll')">
                                            More Info
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget padding-15 bg-blue ">
                                <div class="row row-table ">
                                    <div class="margin-b-30">
                                        <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.pendingComplaints}}
                                        </h2>
                                        <h2 class="margin-b-5 text-muted">Pending Complaints</h2>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary add-button"
                                            (click)="redirectTo('Open')">
                                            More Info
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget padding-15 bg-green">
                                <div class="row row-table ">
                                    <div class="margin-b-30">
                                        <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.closeComplaints}}
                                        </h2>
                                        <h2 class="margin-b-5 text-muted">Close Complaints</h2>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-primary add-button"
                                            (click)="redirectTo('Close')">
                                            More Info
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="row" *ngIf="requestType == 'Complain'">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget padding-15 bg-red">
                            <div class="row row-table">
                                <div class="margin-b-30">
                                    <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.totalComplaint}}</h2>
                                    <h2 class="margin-b-5 text-muted">Total Complaints</h2>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary add-button"
                                        (click)="onReport('Total')">
                                        Show data
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget padding-15 bg-blue ">
                            <div class="row row-table ">
                                <div class="margin-b-30">
                                    <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.pendingComplaints}}</h2>
                                    <h2 class="margin-b-5 text-muted">Pending Complaints</h2>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary add-button" (click)="onReport('Open')">
                                        Show Data
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget padding-15 bg-green">
                            <div class="row row-table ">
                                <div class="margin-b-30">
                                    <h2 class="margin-b-5 text-muted">{{complaintDashboardData?.closeComplaints}}</h2>
                                    <h2 class="margin-b-5 text-muted">Close Complaints</h2>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary add-button"
                                        (click)="onReport('Close')">
                                        Show Data
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row" *ngIf="requestType && this.type == 'Total'">
    <div class="col-md-12" >

        <div class="card">
            <div class="card-header card-default">
                {{header}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="p-2 bd-highlight">
                            <span>Items per page: </span>
                            <select (change)="onTableSizeChangetotal($event)" class="custom-select">
                                <option *ngFor="let size of vehiclelistData.tableSizes" [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="search-form">
                            <input placeholder="Search for..." type="text" class="form-control search-input"
                                [(ngModel)]="totalSearchKeyword"><button type="button" class="btn-search"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary export mt-2" (click)="ExportTOExcel()">
                            Export
                        </button>
                    </div>
                    <div class="col-md-12">                      
                        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_scroll">                               
                                <div class="dataTables_scrollHead">
                                </div>
                                <div class="dataTables_scrollBody">
                                    <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                                        <loader [isRunning]="vehiclelistData.isloading"></loader>
                                    </div>
                                    <table id="datatable" #TABLE
                                        class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                                        <thead>
                                            <tr role="row">
                                                <th *ngFor="let vehicleHeading of tableData">
                                                    <strong>{{vehicleHeading?.val}}</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody *ngIf="!vehiclelistData.isloading">
                                            <tr *ngFor="let complain of complaintData | searchFilter:totalSearchKeyword |  paginate : {
                        itemsPerPage: vehiclelistData.tableSize,
                        currentPage: vehiclelistData.totalPage,
                        totalItems: vehiclelistData.totalcount};">
                                                <td>{{complain?.complaint_ID}}</td>
                                                <td>{{complain?.asseT_NO}}</td>
                                                <td>{{complain?.driverName}}</td>
                                                <td>{{complain?.operatorName}}</td>
                                                <td>{{complain?.complaintType}}</td>
                                                <td>{{complain?.chassis_No}}</td>
                                                <td>{{complain?.complaints}}</td>
                                                <td>{{complain?.complaint2}}</td>
                                                <td>{{complain?.complaint3}}</td>
                                                <td>{{complain?.complaint4}}</td>
                                                <td>{{complain?.complaint5}}</td>
                                                <td>{{complain?.status}}</td>
                                                <td>{{complain?.category}}</td>
                                                <td>{{complain?.entry_Date}}</td>
                                                <td style="cursor: pointer;"> <a (click)="redirectToTimeline(complain?.complaint_ID)"><i class="fa fa-arrow-circle-right" aria-hidden="true" style="margin-right: 4px;"></i>Procced</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center"
                                        *ngIf="complaintData && complaintData.length == 0 || complaintData == null && !vehiclelistData['isloading'] || !(complaintData | searchFilter:totalSearchKeyword)?.length"
                                        style="width: 100%;">No Data Available</div>
                                </div>
                                <div class="pagination-data" *ngIf="complaintData && complaintData.length > 0 && (complaintData | searchFilter:totalSearchKeyword)?.length">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                        (pageChange)="onTableDataChangeTotal($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="requestType && this.type == 'Open'">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-default">
                {{header}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="p-2 bd-highlight">
                            <span>Items per page: </span>
                            <select (change)="onTableSizeChangeOpen($event)" class="custom-select">
                                <option *ngFor="let size of vehiclelistData.tableSizes" [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="search-form">
                            <input placeholder="Search for..." type="text" class="form-control search-input"
                                [(ngModel)]="openSearchKeyword"><button type="button" class="btn-search"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary export mt-2" (click)="ExportTOExcel()">
                            Export
                        </button>
                    </div>
                    <div class="col-md-12">                      
                        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_scroll">                               
                                <div class="dataTables_scrollHead">
                                </div>
                                <div class="dataTables_scrollBody">
                                    <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                                        <loader [isRunning]="vehiclelistData.isloading"></loader>
                                    </div>
                                    <table id="datatable" #TABLE
                                        class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                                        <thead>
                                            <tr role="row">
                                                <th *ngFor="let vehicleHeading of tableData">
                                                    <strong>{{vehicleHeading?.val}}</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody *ngIf="!vehiclelistData.isloading">
                                            <tr *ngFor="let complain of complaintData | searchFilter:openSearchKeyword |  paginate : {
                        itemsPerPage: vehiclelistData.tableSize,
                        currentPage: vehiclelistData.openPage,
                        totalItems: vehiclelistData.opencount};">
                                                <td>{{complain?.complaint_ID}}</td>
                                                <td>{{complain?.asseT_NO}}</td>
                                                <td>{{complain?.driverName}}</td>
                                                <td>{{complain?.operatorName}}</td>
                                                <td>{{complain?.complaintType}}</td>
                                                <td>{{complain?.chassis_No}}</td>
                                                <td>{{complain?.complaints}}</td>
                                                <td>{{complain?.complaint2}}</td>
                                                <td>{{complain?.complaint3}}</td>
                                                <td>{{complain?.complaint4}}</td>
                                                <td>{{complain?.complaint5}}</td>
                                                <td>{{complain?.status}}</td>
                                                <td>{{complain?.category}}</td>
                                                <td>{{complain?.entry_Date}}</td>
                                                <td style="cursor: pointer;"> <a (click)="redirectToTimeline(complain?.complaint_ID)"><i class="fa fa-arrow-circle-right" aria-hidden="true" style="margin-right: 4px;"></i>Procced</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center"
                                        *ngIf="complaintData && complaintData.length == 0 || complaintData == null && !vehiclelistData['isloading'] || !(complaintData | searchFilter:openSearchKeyword)?.length"
                                        style="width: 100%;">No Data Available</div>
                                </div>
                                <div class="pagination-data" *ngIf="complaintData && complaintData.length > 0 && (complaintData | searchFilter:openSearchKeyword)?.length">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                        (pageChange)="onTableDataChangeOpen($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="requestType && this.type == 'Close'">
    <div class="col-md-12" >

        <div class="card">
            <div class="card-header card-default">
                {{header}}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="p-2 bd-highlight">
                            <span>Items per page: </span>
                            <select (change)="onTableSizeChangeClose($event)" class="custom-select">
                                <option *ngFor="let size of vehiclelistData.tableSizes" [value]="size">
                                    {{ size }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div class="search-form">
                            <input placeholder="Search for..." type="text" class="form-control search-input"
                                [(ngModel)]="closeSearchKeyword"><button type="button" class="btn-search"><i
                                    class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button class="btn btn-primary export mt-2" (click)="ExportTOExcel()">
                            Export
                        </button>
                    </div>
                    <div class="col-md-12">                      
                        <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                            <div class="dataTables_scroll">                               
                                <div class="dataTables_scrollHead">
                                </div>
                                <div class="dataTables_scrollBody">
                                    <div class="spin-loader" [ngClass]="vehiclelistData.isloading ? 'loader': ''">
                                        <loader [isRunning]="vehiclelistData.isloading"></loader>
                                    </div>
                                    <table id="datatable" #TABLE
                                        class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                                        <thead>
                                            <tr role="row">
                                                <th *ngFor="let vehicleHeading of tableData">
                                                    <strong>{{vehicleHeading?.val}}</strong>
                                                </th>
                                            </tr>
                                        </thead>
                                       
                                        <tbody *ngIf="!vehiclelistData.isloading">
                                            <tr *ngFor="let complain of complaintData | searchFilter:closeSearchKeyword |  paginate : {
                        itemsPerPage: vehiclelistData.tableSize,
                        currentPage: vehiclelistData.closePage,
                        totalItems: vehiclelistData.closecount};">
                                                <td>{{complain?.complaint_ID}}</td>
                                                <td>{{complain?.asseT_NO}}</td>
                                                <td>{{complain?.driverName}}</td>
                                                <td>{{complain?.operatorName}}</td>
                                                <td>{{complain?.complaintType}}</td>
                                                <td>{{complain?.chassis_No}}</td>
                                                <td>{{complain?.complaints}}</td>
                                                <td>{{complain?.complaint2}}</td>
                                                <td>{{complain?.complaint3}}</td>
                                                <td>{{complain?.complaint4}}</td>
                                                <td>{{complain?.complaint5}}</td>
                                                <td>{{complain?.status}}</td>
                                                <td>{{complain?.category}}</td>
                                                <td>{{complain?.entry_Date}}</td>
                                                <td style="cursor: pointer;"> <a (click)="redirectToTimeline(complain?.complaint_ID)"><i class="fa fa-arrow-circle-right" aria-hidden="true" style="margin-right: 4px;"></i>Procced</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center"
                                        *ngIf="complaintData && complaintData.length == 0 || complaintData == null && !vehiclelistData['isloading'] || !(complaintData | searchFilter:closeSearchKeyword)?.length"
                                        style="width: 100%;">No Data Available</div>
                                </div>
                                <div class="pagination-data" *ngIf="complaintData && complaintData.length > 0 && (complaintData | searchFilter:closeSearchKeyword)?.length">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                        (pageChange)="onTableDataChangeClose($event)">
                                    </pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>