.logo {
    float: right;
    max-width: 20%;
}

.logo-obu {
    float: right;
    max-width: 35%;
}

.widget-r-m {
    margin-top: -62px;
}

.widget {
    background: white;
    cursor: pointer;
}

p.margin-b-5 {
    font-size: 15px;
    font-weight: 500;
}

.last-update {

    // text-align: center;
    .last-update-data {
        font-size: 12px;
    }
}

.search-form {
    float: right;
}
.search-form {
    margin-top: 0px !important; 
}

.search-input {
    border-color: #2f387c !important;
}

.search-form .btn-search {
    color: #2f387c;
}

.widget.total-data {
    height: 83px;
    cursor: auto;
}