<section class="main-content">
    <div class="col-12">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                    <li><a routerLink="/Registration/User_Master_App"> <i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i>
                            Staff Management</a></li>
                    <li><a routerLink="/Registration/edit-employeeDetails"> <i class="fa fa-long-arrow-right"
                                aria-hidden="true"></i>
                            Add More Details</a></li>
                </ol>
            </div>
        </div>

    </div>

    <tabset responsiveTabs [justified]="true" #staticTabs>
        <tab (selectTab)="onTablValue('1')">
            <ng-template tabHeading>Family Information</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Family List
                        </div>
                        <div class="card-body">
                            <div class="row row-data">
                                <div class="col-md-12">
                                    <div class="row button">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" (click)="redirectTo('/Registration/add-family/id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Add Family Information
                                            </button>
                                        </div>
                                    </div>
                                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_scroll">
                                            <div class="p-2 bd-highlight">
                                                <span>Items per page: </span>
                                                <select (change)="onTableSizeChange($event)" class="custom-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="dataTables_scrollHead">
                                            </div>
                                            <div class="dataTables_scrollBody">
                                                <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                                    <loader [isRunning]="isloading"></loader>
                                                </div>
                                                <table id="datatable"
                                                    class="table table-striped nowrap dataTable no-footer dtr-inline"
                                                    role="grid" aria-describedby="datatable_info" style="width: 100%"
                                                    width="100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th *ngFor="let vehicleHeading of tableData">
                                                                <strong>{{vehicleHeading?.value}}</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!isloading">
                                                        <tr *ngFor="let user of familyListData |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                                                            <td>
                                                                <p>{{ user?.employeeName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.name }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.relation }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.dob}}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.occupation }}</p>
                                                            </td>
                                                            <td>
                                                                <a tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>


                                                </table>
                                                <div class="text-center" style="width: 100%;" *ngIf="familyListData && familyListData.length == 0 || familyListData == null && !isloading">
                                                    No Data Available</div>
                                            </div>
                                            <div class="pagination-data" *ngIf="familyListData && familyListData.length > 0">
                                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>
        <tab (selectTab)="onTablValue('2')">
            <ng-template tabHeading>Health Information</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Health Information List
                        </div>
                        <div class="card-body">
                            <div class="row row-data">
                                <div class="col-md-12">
                                    <div class="row button">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" (click)="redirectTo('/Registration/add-health/id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Add Health Information
                                            </button>
                                        </div>
                                    </div>
                                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_scroll">
                                            <div class="p-2 bd-highlight">
                                                <span>Items per page: </span>
                                                <select (change)="onTableSizeChange($event)" class="custom-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="dataTables_scrollHead">
                                            </div>
                                            <div class="dataTables_scrollBody">
                                                <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                                    <loader [isRunning]="isloading"></loader>
                                                </div>
                                                <table id="datatable"
                                                    class="table table-striped nowrap dataTable no-footer dtr-inline"
                                                    role="grid" aria-describedby="datatable_info" style="width: 100%"
                                                    width="100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th *ngFor="let vehicleHeading of tableData2">
                                                                <strong>{{vehicleHeading?.value}}</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!isloading">
                                                        <tr *ngFor="let user of familyListData |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                                                                                    <td>
                                                                                        <p>{{ user?.employeeName }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.healthCardTypes }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.healthCardNo }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.versionCode }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.validFromDate }}</p>
                                                                                    </td>                                                                    
                                                                                    <td>
                                                                                        <p>{{ user?.validToDate}}</p>
                                                                                    </td> 
                                                                                    <td>
                                                                                        <p>{{ user?.dob }}</p>
                                                                                    </td> 
                                                                                    <td>
                                                                                        <p>{{ user?.bloodGroup }}</p>
                                                                                    </td> 
                                                                                    <td>
                                                                                        <p>{{ user?.color }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.height }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.weight }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.eyeSideVision }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.healthDiseas }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <p>{{ user?.anyIllness }}</p>
                                                                                    </td>
                                                                                    <td>
                                                                                        <a tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                                        </a>
                                                                                    </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <div class="text-center" style="width: 100%;" *ngIf="familyListData && familyListData.length == 0 || familyListData == null && !isloading">
                                                    No Data Available</div>
                                            </div>
                                            <div class="pagination-data" *ngIf="familyListData && familyListData.length > 0">
                                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>
        <tab (selectTab)="onTablValue('3')">
            <ng-template tabHeading>Professional Information</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Professional List
                        </div>
                        <div class="card-body">
                            <div class="row row-data">
                                <div class="col-md-12">
                                    <div class="row button">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" (click)="redirectTo('/Registration/add-professional/id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Add Professional Information
                                            </button>
                                        </div>
                                    </div>
                                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_scroll">
                                            <div class="p-2 bd-highlight">
                                                <span>Items per page: </span>
                                                <select (change)="onTableSizeChange($event)" class="custom-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="dataTables_scrollHead">
                                            </div>
                                            <div class="dataTables_scrollBody">
                                                <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                                    <loader [isRunning]="isloading"></loader>
                                                </div>
                                                <table id="datatable"
                                                    class="table table-striped nowrap dataTable no-footer dtr-inline"
                                                    role="grid" aria-describedby="datatable_info" style="width: 100%"
                                                    width="100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th *ngFor="let vehicleHeading of tableData3">
                                                                <strong>{{vehicleHeading?.value}}</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody *ngIf="!isloading">
                                                        <tr *ngFor="let user of familyListData |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                                                           
                                                            <td>
                                                                <p>{{ user?.employeeName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.organizationName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.fromDate?.slice(0,10)}}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.toDate?.slice(0,10) }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.totalExperience }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.reasonforJobChange }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceContactNumber }}</p>
                                                            </td>
                                                            <td>
                                                                <a tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>

                                                </table>
                                                <div class="text-center" style="width: 100%;" *ngIf="familyListData && familyListData.length == 0 || familyListData == null && !isloading">
                                                    No Data Available</div>
                                            </div>
                                            <div class="pagination-data" *ngIf="familyListData && familyListData.length > 0">
                                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </tab>
        <tab (selectTab)="onTablValue('4')">
            <ng-template tabHeading> Driver Behavior</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Driver Behavior
                        </div>
                        <div class="card-body">
                            <div class="row row-data">
                                <div class="col-md-12">
                                    <div class="row button">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" (click)="redirectTo('/Registration/add-driver-behaviour/id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Add Driver Behavior
                                            </button>
                                        </div>
                                    </div>
                                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_scroll">
                                            <div class="p-2 bd-highlight">
                                                <span>Items per page: </span>
                                                <select (change)="onTableSizeChange($event)" class="custom-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="dataTables_scrollHead">
                                            </div>
                                            <div class="dataTables_scrollBody">
                                                <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                                    <loader [isRunning]="isloading"></loader>
                                                </div>
                                                <table id="datatable"
                                                    class="table table-striped nowrap dataTable no-footer dtr-inline"
                                                    role="grid" aria-describedby="datatable_info" style="width: 100%"
                                                    width="100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th *ngFor="let vehicleHeading of tableData4">
                                                                <strong>{{vehicleHeading?.value}}</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <!-- <tbody *ngIf="!isloading">
                                                        <tr *ngFor="let user of familyListData |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                                                           
                                                            <td>
                                                                <p>{{ user?.driverName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.organizationName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.fromDate | date: "MM/dd/yyyy" }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.toDate | date: "MM/dd/yyyy" }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.totalExperience }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.reasonforJobChange }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceContactNumber }}</p>
                                                            </td>
                                                            <td>
                                                                <a tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody> -->

                                                </table>
                                                <div class="text-center" style="width: 100%;">
                                                    No Data Available</div>
                                            </div>
                                            <div class="pagination-data" >
                                                <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>
        <tab (selectTab)="onTablValue('5')">
            <ng-template tabHeading>ID Document</ng-template>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-default">
                            Driver ID Document
                        </div>
                        <div class="card-body">
                            <div class="row row-data">
                                <div class="col-md-12">
                                    <div class="row button">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-primary" (click)="redirectTo('/Registration/add-documnet/id')">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                Add Document
                                            </button>
                                        </div>
                                    </div>
                                    <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="dataTables_scroll">
                                            <div class="p-2 bd-highlight">
                                                <span>Items per page: </span>
                                                <select (change)="onTableSizeChange($event)" class="custom-select">
                                                    <option *ngFor="let size of tableSizes" [value]="size">
                                                        {{ size }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="dataTables_scrollHead">
                                            </div>
                                            <div class="dataTables_scrollBody">
                                                <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                                    <loader [isRunning]="isloading"></loader>
                                                </div>
                                                <table id="datatable"
                                                    class="table table-striped nowrap dataTable no-footer dtr-inline"
                                                    role="grid" aria-describedby="datatable_info" style="width: 100%"
                                                    width="100%">
                                                    <thead>
                                                        <tr role="row">
                                                            <th *ngFor="let vehicleHeading of tableData5">
                                                                <strong>{{vehicleHeading?.value}}</strong>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <!-- <tbody *ngIf="!isloading">
                                                        <tr *ngFor="let user of familyListData |  paginate : {
                                                                                    itemsPerPage: tableSize,
                                                                                    currentPage: page,
                                                                                    totalItems: count};">
                                                           
                                                            <td>
                                                                <p>{{ user?.driverName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.organizationName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.fromDate | date: "MM/dd/yyyy" }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.toDate | date: "MM/dd/yyyy" }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.totalExperience }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.reasonforJobChange }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceName }}</p>
                                                            </td>
                                                            <td>
                                                                <p>{{ user?.referenceContactNumber }}</p>
                                                            </td>
                                                            <td>
                                                                <a tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody> -->

                                                </table>
                                                <div class="text-center" style="width: 100%;">
                                                    No Data Available</div>
                                            </div>
                                            <div class="pagination-data" >
                                                <!-- <pagination-controls previousLabel="Prev" nextLabel="Next"
                                                    (pageChange)="onTableDataChange($event)">
                                                </pagination-controls> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </tab>

    </tabset>

</section>