<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
          <li><a routerLink="/SupplyChain/HSNMaster_List"> <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>
              HSN Master </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
         <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
        </app-alert>
        <div class="card">
          <div class="card-header card-default">
            HSN List        
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3"></div>
              <div class="col-md-3">
                <button class=" btn btn-primary" (click)="AddHsn('/SupplyChain/Add-HSN')">
                  <i class="fa fa-plus"></i>
                  Add HSN
              </button>
              </div>
            </div>
            <div class="row row-data">
              <div class="col-md-12">
                
                <div class="search-form">
                  <input placeholder="Search for..." [(ngModel)]="searchKeyword" type="text"
                    class="form-control search-input"><button type="button" class="btn-search"><i class="fa fa-search"
                      aria-hidden="true"></i></button>
                </div>
                <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                  <div class="dataTables_scroll">
                    <div class="p-2 bd-highlight">
                      <span>Items per page: </span>
                      <select (change)="onTableSizeChange($event)" class="custom-select">
                        <option *ngFor="let size of tableSizes" [value]="size">
                          {{ size }}
                        </option>
                      </select>
                    </div>
                    <div class="dataTables_scrollBody">
                      <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                        <loader [isRunning]="isloading"></loader>
                      </div>
                      <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                        aria-describedby="datatable_info" style="width: 100%" width="100%">
                        <thead>
                          <tr role="row">
                            <th *ngFor="let vehicleHeading of tableData" [ngClass]="vehicleHeading.class">
                              <strong>{{vehicleHeading?.val}}</strong>
                            </th>
                          </tr>
                        </thead>
  
                        <tbody *ngIf="!isloading">
                          <tr *ngFor="let hsn of hsnData | searchFilter: searchKeyword |  paginate : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count}; let i = index;">
                            <td>
                              {{hsn?.hsn_code || 'NA'}}
                            </td>
                            <td>{{hsn?.hsn_description || 'NA'}}</td>
                            <td>{{hsn?.tax_per || 'NA'}}</td>
                            <!-- <td>{{hsn?.cess_per || 'NA'}}</td> -->
                            <td>{{hsn?.cgst_per || 'NA'}}</td>
                            <td>{{hsn?.sgst_per || 'NA'}}</td>
                            <td>{{hsn?.igst_per || 'NA'}}</td>                           
                            <td>
                              <div class="action-button">
                              <a (click)="redirectTo(hsn?.pk_hsn_id)" tooltip="Edit" rel="noopener noreferrer"><i class="fa fa-pencil" style="cursor: pointer; font-size: 15px;"
                              aria-hidden="true"></i>
                          </a> 
                          <a (click)="deleteHsn(hsn)" tooltip="Delete" rel="noopener noreferrer"><i class="fa fa-trash text-danger cursor-pointer" style="cursor: pointer; font-size: 15px;"></i>
                          </a>
                          </div>
                        </td> 
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="text-center" *ngIf="hsnData && hsnData.length == 0 || hsnData == null && !isloading"
                      style="width: 100%;">No Data Available</div>
                    <div class="pagination-data" *ngIf="hsnData && hsnData.length > 0" >
                      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)"
                        >
                      </pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  
  </section>