<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/WorkShop/DashBoard_Workshop">Workshop</a></li>
          <li><a routerLink="/WorkShop/DashBoard_Workshop"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
              Workshop Dashboard </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="widget bg-light">
                <div class="row row-table ">
                    <div class="margin-b-30" style="margin-bottom: 0px !important;">
                        <p class="margin-b-5">Open Job</p>
                        <h2 class="text-muted" style="margin-bottom: 5px !important;"> 2
                        </h2>
                        <!-- <span class="float-right text widget-r-m"><img class="logo"
                                src="../../../../../assets/images/obu-device.png"></span> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget total-data bg-light">
                <div class="row row-table ">
                    <div class="margin-b-30" style="margin-bottom: 0px !important;">
                        <p class="margin-b-5">Due Job Bill</p>
                        <h2 class="text-muted" style="margin-bottom: 5px !important;"> 49
                        </h2>
                        <!-- <span class="float-right text widget-r-m"><img class="logo"
                                src="../../../../../assets/images/obu-device.png"></span> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget total-data bg-light">
                <div class="row row-table ">
                    <div class="margin-b-30" style="margin-bottom: 0px !important;">
                        <p class="margin-b-5">Due Counter Bill</p>
                        <h2 class="text-muted" style="margin-bottom: 5px !important;"> 34
                        </h2>
                        <!-- <span class="float-right text widget-r-m"><img class="logo"
                                src="../../../../../assets/images/obu-device.png"></span> -->

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="widget total-data bg-light">
                <div class="row row-table ">
                    <div class="margin-b-30" style="margin-bottom: 0px !important;">
                        <p class="margin-b-5">Qr : connected</p>
                        <h2 class="text-muted" style="margin-bottom: 5px !important;"> 240
                        </h2>
                        <!-- <span class="float-right text widget-r-m"><img class="logo"
                                src="../../../../../assets/images/obu-device.png"></span> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
  
  </section>