<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
          <li><a routerLink="/SupplyChain/Manufacture_Master_List"> <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>
                Manufacturer List </a></li>
               <li><a routerLink="/SupplyChain/Add-Brand"> <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>
               {{button}} Manufacturer </a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
        </app-alert>
        <div class="card">
          <div class="card-header card-default">
           {{button}} Manufacturer        
          </div>
          <div class="card-body">
            <form [formGroup]="brandForm">
              <div class="row">
                  <div class="col-md-3">
                      <label class="form-label">Manufacture Name</label>
                      <div class="input-group mb-3">
                          <input type="text"  class="form-control" formControlName="name"
                              placeholder="Enter Manufacture Name"  aria-describedby="button-addon2" />
                      </div>
                       <div *ngIf="brandForm.get('name')?.invalid && (brandForm.get('name')?.dirty || brandForm.get('name')?.touched )"
                                    class="text-danger">
                                    <span *ngIf="brandForm.get('name')?.errors?.['required']">Manufacture Name is
                                        required</span>
                                </div>
                  </div>
                  <div class="col-md-3">
                  
                  </div>          
                  <div class="col-md-3">
                    <br>
                      <button class="btn btn-success" (click)="submit(brandForm.value)">
                        <i class="fa fa-plus" aria-hidden="true"></i> {{button}}
                      </button>
                  </div>
                  <div class="col-md-3">
                  <br>
                      <button class="btn btn-danger" (click)="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                      </button>
                  </div>
              </div>      
            </form>
          </div>
        </div>
      </div>
    </div>
  
  
  
  </section>