
    <div class="container-token100">
        <div class="wrap-token100">
            <span class="token100-form-title p-b-26">
                Generate Token
            </span>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" name="username" placeholder="Username" />
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter password">
                <input class="input100" type="password" name="Password" placeholder="Password" />
            </div>

            <div class="container-token100-form-btn">
                <div class="wrap-token100-form-btn">
                    <button class="btn btn-primary">
                        <i class="fa fa-sign-in"></i> Submit
                    </button>
                </div>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter Token">
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <p class="tokenDetail">
                        </p>
                    </div>
                    <div class="col-md-2"><button ><i class="fa fa-copy"></i></button></div>
                </div>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Enter Token">
               
                <input class="input100" type="text" name="token" placeholder="Enter Token" />
            </div>

            <div class="container-token100-form-btn">
                <div class="wrap-token100-form-btn">
                    <button class="btn btn-success">
                        <i class="fa fa-sign-in"></i> Update Token
                    </button>
                </div>
            </div>
        </div>
    </div>
