.wrap-token100 {
    background: #fff;
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
    padding: 30px 55px 33px 55px;
    // box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    top: 64px !important;
    width: 545px;
    margin: 0 auto;
    background: white;
    z-index: 10000000000000000 !important;
    border-radius: 8px;
  }
  
  .token100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 23px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 15px; 
  }
  
  .token100-form-title i {
    font-size: 60px;
  }
  
  .token100-form-signuptittle {
    font-size: 15px;
    color: #00000070;
    font-weight: 500;
    display: block;
    text-align: center;
    margin-bottom: 34px;
  }
  
  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 19px;
  }
  
  .input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
    border: none;
    outline: none;
  }
  
  .input100:active {
    border: none;
    outline: none;
  }
 .tokenDetail{
  overflow: hidden;
 }
.container-token100{
  padding: 25px;
}