<section class="main-content">
    <div class="row">
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
          <li><a routerLink="/SupplyChain/Wastage_Entry"> <i class="fa fa-long-arrow-right"
                aria-hidden="true"></i>
                Wastage Entry</a></li>
        </ol>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-default">
            Item wise Wastage entry          
        </div>
          <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label">Search by Name or Barcode</label>
                    <div class="input-group mb-3">
                        <input type="text"  class="form-control"
                            placeholder="Enter Barcode"  aria-describedby="button-addon2" />
                    </div>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Wastage Date:</label>
                    <div class="input-group mb-3">
                        <input type="text"
                        class="form-control"
                        #dp="bsDatepicker"
                        bsDatepicker
                        [bsValue]="bsValue"/>
                    </div>
                </div>          
                <div class="col-md-3">
                    <button class="btn btn-success" >
                      <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-danger" >
                      <i class="fa fa-times" aria-hidden="true"></i>  Reset
                    </button>
                </div>
            </div>      
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-default">
                  Item Information
              </div>
              <div class="card-body">
                  <div class="row row-data">
                      <div class="col-md-12">
                          <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                              <div class="dataTables_scroll">
                                  <div class="dataTables_scrollBody">
                                      <!-- <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                      <loader [isRunning]="isloading"></loader>
                    </div> -->
                                      <table id="datatable"
                                          class="table table-striped nowrap dataTable no-footer dtr-inline"
                                          role="grid" aria-describedby="datatable_info" style="width: 100%"
                                          width="100%">
                                          <thead>
                                              <tr role="row">
                                                  <th *ngFor="let vehicleHeading of tableData">
                                                      <strong>{{vehicleHeading?.val}}</strong>
                                                  </th>
                                              </tr>
                                          </thead>
                                      </table>
                                  </div>
                                  <div class="text-center" style="width: 100%;">No Data Available</div>
                                  <!-- <div class="pagination-data">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-default">
                  Stock Information
              </div>
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-2">
                          <label class="form-label">Adjustment Type</label>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                  id="flexRadioDefault1">
                              <label class="form-check-label" for="flexRadioDefault1">
                                  Select
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                  id="flexRadioDefault2" checked>
                              <label class="form-check-label" for="flexRadioDefault2">
                                  Issue
                              </label>
                          </div>
                          <div class="form-check">
                              <input class="form-check-input" type="radio" name="flexRadioDefault"
                                  id="flexRadioDefault3" checked>
                              <label class="form-check-label" for="flexRadioDefault3">
                                  Receipt
                              </label>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <label class="form-label">Barcode</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Barcode"
                                  aria-describedby="button-addon2" />
                          </div>
                      </div>
                      <div class="col-md-2">
                          <label class="form-label">Open Qty</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Open Qty"
                                  aria-describedby="button-addon2" />
                          </div>
                      </div>
                      <div class="col-md-2">
                          <label class="form-label">Sale Qty</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Sale Qty"
                                  aria-describedby="button-addon2" />
                          </div>
                      </div>
                      <div class="col-md-2">
                          <label class="form-label">Wastage Qty</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Wastage Qty"
                                  aria-describedby="button-addon2" />
                          </div>
                      </div>
                      <div class="col-md-2">
                          <label class="form-label">Net Qty</label>
                          <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder="Enter Net Qty"
                                  aria-describedby="button-addon2" />
                          </div>
                      </div>                       
                  </div>
                  <div class="row">
                      <div class="col-md-3"></div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3"></div>
                      <div class="col-md-3">
                          <button class="btn btn-success">
                              <i class="fa fa-plus" aria-hidden="true"></i> Submit
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-default">
                  Item Batch Information
              </div>
              <div class="card-body">
                  <div class="row row-data">
                      <div class="col-md-12">
                          <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                              <div class="dataTables_scroll">
                                  <div class="dataTables_scrollBody">
                                      <!-- <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                      <loader [isRunning]="isloading"></loader>
                    </div> -->
                                      <table id="datatable"
                                          class="table table-striped nowrap dataTable no-footer dtr-inline"
                                          role="grid" aria-describedby="datatable_info" style="width: 100%"
                                          width="100%">
                                          <thead>
                                              <tr role="row">
                                                  <th *ngFor="let vehicleHeading of tableData2">
                                                      <strong>{{vehicleHeading?.val}}</strong>
                                                  </th>
                                              </tr>
                                          </thead>
                                      </table>
                                  </div>
                                  <div class="text-center" style="width: 100%;">No Data Available</div>
                                  <!-- <div class="pagination-data">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                    </pagination-controls>
                  </div> -->
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  
  
  </section>