<section class="main-content">
    <div class="row">
     
      <div class="col-lg-12 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/management/change_password">Management</a></li>
          <li><a routerLink="/management/change_password"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            Change Password</a></li>
        </ol>
      </div>
    </div>
    <div class="accident-data">
      <div class="reset-password">
        <form [formGroup]="changeOldPassword" >
          <div class="row">
            <h3 class="change-password">Change Password</h3>
            <div class="col-md-6 col-xl-6">
              <div class="pwdText">
                <p>Password must contain:</p>
                <ul>
                  <li>
                    <span> At least 6 charactor</span>
                  </li>
                  <li>
                    <span> At least 1 upper case letter (A..Z)</span>
                  </li>
                  <li>
                    <span>At least 1 lower case letter(a..z) </span>
                  </li>
                  <li>
                    <span> At least 1 number(0..9) </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="col-md-6 col-xl-12">
                <label>Old Password</label>
                <input type="password" class="form-control" placeholder="Enter Old Password" aria-label="First name"
                  formControlName="oldPassword" />
              </div>
              <div class="col-md-6 col-xl-12">
                <label>New Password</label>
                <input type="password" class="form-control" placeholder="Enter New Password" aria-label="Last name"
                  formControlName="newPassword" />
              </div>
              <div class="col-md-6 col-xl-12">
                <label>Retype New Password</label>
                <input type="password" class="form-control" placeholder="Enter Retype New Password"
                  aria-label="First name" formControlName="retypeNewPassword" />
              </div>
            </div>
          </div>
          <div class="row row-data">
            <div class="col-md-12 col-lg-4"></div>
            <div class="col-md-12 col-lg-4">
              <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
              </app-alert>
              <button type="submit" (click)="changePassword(changeOldPassword.value)" [disabled]="!changeOldPassword.valid" class="mr-2 mt-2ncbopladmin btn-icon btn-icon-only btn btn-outline-primary">
                Change Password
              </button>
            </div>
            <div class="col-md-12 col-lg-4"></div>
          </div>
        </form>
      </div>
    </div>
  </section>