
<section class="main-content">
    <div class="row">
       <div class="col-lg-12 align-self-center">
           <ol class="breadcrumb">
               <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
               <li><a routerLink="/Registration/User_Master_App"> <i class="fa fa-long-arrow-right"
                           aria-hidden="true"></i>
                       Staff Management</a></li>
               <li><a routerLink="/Registration/edit-employeeDetails"> <i class="fa fa-long-arrow-right"
                           aria-hidden="true"></i>
                       Add More Details</a></li>
                       <li><a routerLink="/Registration/add-family"> <i class="fa fa-long-arrow-right"
                           aria-hidden="true"></i>
                       Add Document</a></li>
           </ol>
       </div>
   </div>
   <div class="row">
     <div class="col-md-12">
       <!-- <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
       </app-alert> -->
       <div class="card">
         <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">ID Proof </label>
                  <div *ngIf="idProofeList && idProofeList.length > 0 ; else elseBlockk">
                    <select-filter [vehicleData]="idProofeList" [type]="'ID Proof'"
                      [placeholder]="'Select ID Proof'" (onConfirm)="confirm($event)"></select-filter>
                  </div>
                  <ng-template #elseBlockk>
                    <select-filter [vehicleData]="idProofeList" [type]="'ID Proof'"
                      [placeholder]="'Select ID Proof'" (onConfirm)="confirm($event)"></select-filter>
                  </ng-template>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">ID Proof Number</label>
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Id Proof Numer"
                      aria-describedby="button-addon2" />
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">ID Picture/Document</label>
                  <div class="input-group mb-3">
                    <input class="form-control" type="file" 
                      >
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Issue Date</label>
                  <div class="input-group mb-3">
                    <input type="text" placeholder="mm/dd/yy" class="form-control"  bsDatepicker>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Expire Date</label>
                  <div class="input-group mb-3">
                    <input type="text" placeholder="mm/dd/yy" class="form-control"  bsDatepicker>
                  </div>
                </div>
                <div class="col-md-6 col-xl-3">
                  <label for="exampleInputEmail1" class="form-label">Authority Name</label>
                  <div class="input-group mb-3">
                    <input type="text" placeholder="Enter Authority" class="form-control"  >
                  </div>
                </div>
                <div class="col-md-3"> 
                  <br>
                  <button class="mr-2 btn-icon btn-icon-only btn btn-success" >
                  <i class="fa fa-plus"
                    aria-hidden="true"></i>
                    Add Record
                  </button>
                </div>
                <div class="col-md-3">
                  <br>
                  <button class=" btn btn-danger"><i
                    class="fa fa-times" aria-hidden="true"></i>
                    Clear
                  </button>
                </div>
                
              </div>
                        
         </div>
       </div>
     </div>
   </div>
 </section>
