.search-form {
    float: right;
  }

  .search-input {
    border-color:#2f387c !important;
  }

  .search-form .btn-search {
    color: #2f387c;
  }

  .search-form {
    margin-top: -5px;
    margin-bottom: 11px;
  }