.search-form {
    float: right;
  }
  
  .search-input {
    border-color:#2f387c !important;
  }
  
  .search-form .btn-search {
    color: #2f387c;
  }
  .fa.fa-pencil {
    margin-left: 20px;
  }
  #tdCenter{
    margin-left: 100px;
  }
.btn.btn-success{
  width: 50px;
}
.dataTables_scrollBody.rpf-data {
  height: 500px;
}