<section class="main-content" id="content">
  <div class="row">
    <div class="col-lg-12 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
        <li><a routerLink="/dms/BreakDownComplaintaspx"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            BreakDown Complaint</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
        </app-alert>
      <div class="card">
        <div class="card-body">
          <form [formGroup]="addBreakdownform">
            <div class="row">
              <div class="col-md-6 col-lg-3">
                <label class="form-label">Bus No</label>
                <div *ngIf="selectedValue">
                  <select-filter [selectedValue]="selectedValue" [vehicleData]="vehicleData" [type]="'Bus'"
                  [placeholder]="'Select Vehicle'" (onConfirm)="confirm($event)"></select-filter>
              </div>
                <div *ngIf="!selectedValue && driverList && driverList.length > 0">
                  <select-filter [vehicleData]="vehicleData" [type]="'Bus'" [placeholder]="'Select Vehicle'"
                  (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedValue && !driverList || driverList.length == 0">
                  <select-filter [type]="'Bus'" [placeholder]="'Select Vehicle'"
                  (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <label class="form-label">Driver Name</label>
                <div *ngIf="selectedDriver">
                  <select-filter [selectedValue]="selectedDriver" [vehicleData]="driverList" [type]="'Driver'"
                    [placeholder]="'Select Driver'" (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedDriver && driverList && driverList.length > 0 ">
                  <select-filter  [vehicleData]="driverList" [type]="'Driver'" [placeholder]="'Select Driver'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedDriver && !driverList || driverList.length == 0">
                  <select-filter [type]="'Driver'" [placeholder]="'Select Driver'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
              <div class="col-md-6 col-lg-3">
                <label class="form-label">Route Name</label>
                <div *ngIf="selectedRoute">
                  <select-filter [selectedValue]="selectedRoute" [vehicleData]="routeList" [type]="'Route'"
                    [placeholder]="'Select Route'" (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedRoute && routeList && routeList.length > 0 ">
                  <select-filter  [vehicleData]="routeList" [type]="'Route'" [placeholder]="'Select Route'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedRoute && !routeList || routeList.length == 0">
                  <select-filter [type]="'Route'" [placeholder]="'Select Route'"
                    (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Km</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="km" placeholder="Enter Km"
                    aria-describedby="button-addon2" />
                </div>
              </div>

            </div>
            <div class="row row-data">           
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Location</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="location" placeholder="Enter Location"
                    aria-describedby="button-addon2" />
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">shift</label>
                <select class="form-select" aria-label="Default select example" formControlName="shift">
                  <option value="morning">Morning</option>
                  <option value="afternoon">Afternoon</option>
                </select>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">No of Quantity</label>
                <input type="text" class="form-control" formControlName="quantity" placeholder="Enter Quantity"
                  aria-describedby="button-addon2" />
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Name Of Incharge</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="incharge" placeholder="Enter Incharge Name"
                    aria-describedby="button-addon2" />
                </div>
              </div>
            </div>
            <div class="row">              
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Name of Mechanical</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="mechanicalName" placeholder="Enter Name"
                    aria-describedby="button-addon2" />
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Nature of Complaint </label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="complaint" placeholder="Enter Complaint"
                    aria-describedby="button-addon2" />
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Action Taken</label>
                <input type="text" class="form-control" formControlName="actionTaken" placeholder="Enter Action"
                  aria-describedby="button-addon2" />
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Part Description </label>
                <div *ngIf="selectedPart">
                    <select-filter [selectedValue]="selectedPart" [vehicleData]="partdescription" [type]="'Part'" [placeholder]="'Select Part'"
                  (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedPart && partdescription && partdescription.length > 0 ">
                  <select-filter [vehicleData]="partdescription" [type]="'Part'" [placeholder]="'Select Part'"
                  (onConfirm)="confirm($event)"></select-filter>
                </div>
                <div *ngIf="!selectedPart && !partdescription || partdescription.length == 0">
                  <select-filter [type]="'Part'" [placeholder]="'Select Part'"
                  (onConfirm)="confirm($event)"></select-filter>
                </div>
              </div>
            </div>
            <div class="row">                     
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Part No</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" formControlName="partNo" placeholder="Enter Part No"
                    aria-describedby="button-addon2" />
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Cost Unit</label>
                <div class="input-group mb-3">
                  <input type="text" formControlName="unit" class="form-control" placeholder="Enter Unit"
                    aria-describedby="button-addon2" />
                </div>
              </div>

              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Complaint Report Time</label>
                <!-- <timepicker formControlName="complaintTime"  [hourStep]="hstep" [minuteStep]="mstep"
                  ></timepicker> -->
                <div class="input-group mb-4">
                  <input type="text" placeholder="Datepicker" formControlName="complaintTime" class="form-control"
                    [bsConfig]="{withTimepicker: true,keepDatepickerOpened: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                    bsDatepicker>
                </div>
              </div>
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Attend Time</label>
                <!-- <timepicker formControlName="attendTIme"  [hourStep]="hstep" [minuteStep]="mstep"
                  ></timepicker> -->
                <input type="text" placeholder="Datepicker" formControlName="attendTIme" class="form-control"
                  [bsConfig]="{withTimepicker: true,keepDatepickerOpened: true, rangeInputFormat : 'MMMM Do YYYY, h:mm:ss a', dateInputFormat: 'MMMM Do YYYY, h:mm:ss a'}"
                  bsDatepicker>
              </div>
             
            </div>
            <div class="row">            
              <div class="col-md-6 col-xl-3">
                <label for="exampleInputEmail1" class="form-label">Complain Status </label>
                <select class="form-select" formControlName="complanitStatus" aria-label="Default select example">
                  <option value="Open">Open</option>
                  <option value="Close">Close</option>
                  <option value="Pending">Pending</option>
                </select>
              </div>
              <div class="col-md-3"></div>
              <div class="col-md-6 col-xl-3">
                <button class="btn btn-success" [disabled]="!addBreakdownform.valid"
                  (click)="submit(addBreakdownform.value)">
                  <i class="fa fa-plus" aria-hidden="true"></i>{{button}}
                </button>
              </div>
              <div class="col-md-6 col-xl-3">
                <button class="btn btn-danger" (click)="cancel()">
                  <i class="fa fa-times" aria-hidden="true"></i>Cancel
                </button>
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-12">
              <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                <div class="p-2 bd-highlight">
                  <span>Items per page: </span>
                  <select (change)="onTableSizeChange($event)" class="custom-select">
                    <option *ngFor="let size of tableSizes" [ngValue]="size">
                      {{ size }}
                    </option>
                  </select>
                </div>
                <div class="dataTables_scroll">
                  <div class="dataTables_scrollHead">
                  </div>
                  <div class="dataTables_scrollBody">
                    <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                      <loader [isRunning]="isloading"></loader>
                    </div>
                    <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                      aria-describedby="datatable_info" style="width: 100%" width="100%">

                      <thead>
                        <tr role="row">
                          <th *ngFor="let vehicleHeading of tableData">
                            <strong>{{vehicleHeading?.value}}</strong>
                          </th>
                        </tr>
                      </thead>
                      <tbody *ngIf="!isloading">
                        <tr *ngFor="let user of breackdownList |  paginate : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count};">
                          <td>{{user?.bus_No}}</td>
                          <td>{{user?.user_Name}}</td>
                          <td>{{user?.route_Name}}</td>
                          <td>{{user?.km}}</td>
                          <td>{{user?.location}}</td>
                          <td>{{user?.shift}}</td>
                          <td>{{user?.complaintReportTime}}</td>
                          <td>{{user?.attendTime}}</td>
                          <td>{{user?.name_of_Incharge}}</td>
                          <td>{{user?.name_Mech_Elect_Acc}}</td>
                          <td>{{user?.nature_of_Complaint}}</td>
                          <td>{{user?.actionTaken}}</td>
                          <td>{{user?.part_Description}}</td>
                          <td>
                            <a style="cursor: pointer;" tooltip="Edit" (click)="update(user?.id, user)"
                              rel="noopener noreferrer"><i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div *ngIf="breackdownList && breackdownList.length == 0 || breackdownList == null && !isloading"
                      class="text-center" style="width: 100%;">No Data Available</div>
                  </div>

                </div>
                <div class="pagination-data">
                  <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                  </pagination-controls>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>