.modal-body.p-20 {
    height: 200px;

}

.modal-content .modal-header {
    position: relative;
}

.close-modal {
    position: absolute;
    right: 22px;
}

.fa.fa-close {
    color: white;
    font-size: 17px;
}
