.mr-2.btn-icon.btn-icon-only.btn.btn-primary {
    margin-top: 30px;
  }

  ul#dropdown-basic li {
    padding: 7px 14px;
    width: 100%;
}

.btn-group {
  width: 100%;
}

#dropdown-basic {
  width: 100%;
}


.add-tyre-link button.btn.btn-primary {
  width: 100%;
}

.mr-2.btn-icon.btn-icon-only.btn.btn-primary{
  width: 100%;
}


@media screen and (min-device-width: 320px) and (max-device-width: 768px) { 
  .btn.btn-primary {
    width: 100% !important;
    }
}
.search-form {
  float: right;
}
.search-input {
  border-color: #2f387c !important;
}
.search-form .btn-search {
  color: #2f387c;
}
td a i{
  cursor: pointer;
}