<section class="main-content" id="content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/Dashboard/DashboardDMS">Dashboard</a></li>
                <li><a routerLink="/SupplyChain/Level_Master"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Level Master </a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
            </app-alert>
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="levelForm">
                        <div class="row  mb-3">


                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Level Name</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Level Name"
                                        aria-describedby="button-addon2" formControlName="levelName" />
                                </div>
                                <div *ngIf="levelForm.get('levelName')?.invalid && (levelForm.get('levelName')?.dirty || levelForm.get('levelName')?.touched )"
                                    class="text-danger">
                                    <span *ngIf="levelForm.get('levelName')?.errors?.['required']">Level Name is
                                        required</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Amount</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" placeholder="Enter Amount"
                                        aria-describedby="button-addon2" formControlName="amount" />
                                </div>
                                <div *ngIf="levelForm.get('amount')?.invalid && (levelForm.get('amount')?.dirty || levelForm.get('amount')?.touched )"
                                    class="text-danger">
                                    <span *ngIf="levelForm.get('amount')?.errors?.['required']">Amount is
                                        required</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Sequence</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter Sequence"
                                        aria-describedby="button-addon2" formControlName="sequence" />
                                </div>
                                <div *ngIf="levelForm.get('sequence')?.invalid && (levelForm.get('sequence')?.dirty || levelForm.get('sequence')?.touched )"
                                    class="text-danger">
                                    <span *ngIf="levelForm.get('sequence')?.errors?.['required']">Sequence is
                                        required</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button class="btn btn-success" (click)="submit(levelForm.value)"><i
                                                class="fa fa-plus" aria-hidden="true"></i>
                                            {{button}}
                                        </button>
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-danger" (click)="cancel()">
                                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </form>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                <div class="p-2 bd-highlight">
                                    <span>Items per page: </span>
                                    <select (change)="onTableSizeChange($event)" class="custom-select">
                                        <option *ngFor="let size of tableSizes" [ngValue]="size">
                                            {{ size }}
                                        </option>
                                    </select>
                                </div>
                                <div class="dataTables_scroll">
                                    <div class="dataTables_scrollHead">
                                    </div>
                                    <div class="dataTables_scrollBody">
                                        <div class="spin-loader" [ngClass]="isloading ? 'loader': ''">
                                            <loader [isRunning]="isloading"></loader>
                                        </div>
                                        <table id="datatable"
                                            class="table table-striped nowrap dataTable no-footer dtr-inline"
                                            role="grid" aria-describedby="datatable_info" style="width: 100%"
                                            width="100%">

                                            <thead>
                                                <tr role="row">
                                                    <th *ngFor="let tab of tableData">
                                                        <strong>{{tab?.value}}</strong>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody *ngIf="!isloading">
                                                <tr *ngFor="let item of levelList |  paginate : {
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems: count}; let i = index">
                                                    <td>{{ (page - 1) * tableSize + i + 1 }}</td>

                                                    <td>{{item?.level_name}}</td>
                                                    <td>{{item?.min_order_amount}}</td>
                                                    <td>{{item?.level_seq}}</td>
                                                    <td>
                                                        <a style="cursor: pointer;" tooltip="Edit"
                                                            (click)="update(item)" rel="noopener noreferrer">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a (click)="deleteLevel(item)" tooltip="Delete"
                                                            rel="noopener noreferrer"><i
                                                                class="fa fa-trash text-danger cursor-pointer"
                                                                style="cursor: pointer; margin-left: 10px;"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="text-center"
                                            *ngIf="levelList && levelList.length == 0 || levelList == null && !isloading"
                                            style="width: 100%;">No Data Available</div>
                                    </div>

                                </div>
                                <div class="pagination-data" *ngIf="levelList && levelList.length > 0">
                                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                                        (pageChange)="onTableDataChange($event)">
                                    </pagination-controls>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>