<section class="main-content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/registration/RC_Details">Registration</a></li>
                <li><a routerLink="/Registration/Route_Registration"> <i class="fa fa-long-arrow-right"
                            aria-hidden="true"></i>
                        Route Registration</a></li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
            </app-alert>
            <div class="card">
                <div class="card-body">
                    <!-- <div class="row mb-2">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" (click)="onAddNewStop()"><i class="fa fa-plus"></i> Add New
                                Stop</button>
                        </div>
                    </div> -->
                    <form [formGroup]="addRoute">
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <label class="form-label"> Company <span class="importent">*</span>  </label>
                                <div *ngIf="selectedValue">
                                    <select-filter [selectedValue]="selectedValue" [vehicleData]="department"
                                        [type]="'Company'" [placeholder]="'Select Company'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedValue && department && department.length > 0">
                                    <select-filter [vehicleData]="department" [type]="'Company'"
                                        [placeholder]="'Select Company'" (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedValue && !department || department.length == 0">
                                    <select-filter [vehicleData]="department" [type]="'Company'"
                                        [placeholder]="'Select Company'" (onConfirm)="confirm($event)"></select-filter>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Route Number <span class="importent">*</span> </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Route Number "
                                        aria-describedby="button-addon2" formControlName="route_no" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Route Name <span class="importent">*</span> </label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Route Name"
                                        aria-describedby="button-addon2" formControlName="route_name" />
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Scheduled Km <span class="importent">*</span> </label>
                                <div class="input-group mb-3">
                                    <input type="number" class="form-control" formControlName="scheduelKm"
                                        placeholder="Enter Scheduled Km" aria-describedby="button-addon2" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Direction <span class="importent">*</span> </label>
                                <select class="form-select" aria-label="Default select example"
                                    formControlName="direction">
                                    <option value="BOTH">Both</option>
                                    <option value="UP">UP</option>
                                    <option value="DOWN">DOWN</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <label for="exampleInputEmail1" class="form-label">Stop <span class="importent">*</span> </label>
                                <div *ngIf="listVehicleStopDetails && listVehicleStopDetails.length > 0">
                                    <select-filter [mulitiselection]="multiselection" [multiSelected]="multiselected"
                                        [closeDropdown]="closeDropdown" [vehicleData]="listVehicleStopDetails"
                                        [type]="'Stop'" [placeholder]="'Select Stop'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!listVehicleStopDetails || listVehicleStopDetails.length == 0">
                                    <select-filter [vehicleData]="listVehicleStopDetails" [type]="'Stop'"
                                        [placeholder]="'Select Stop'" (onConfirm)="confirm($event)"></select-filter>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <h5 class="selected-route" *ngIf="selectedRouteData?.length > 0">
                                    Arrange your selected routes
                                </h5>
                                <div id="datatable_wrapper" class="dataTables_wrapper no-footer selected-route">
                                    <div class="dataTables_scroll">
                                        <div class="dataTables_scrollHead"></div>
                                        <div class="dataTables_scrollBody">
                                            <div class="items1" (drop)="onDrop($event)" [sortablejs]="selectedRouteData" [sortablejsOptions]="options">
                                                <ng-container *ngIf="selectedRouteData?.length <= 30; else showMoreLess">
                                                  <div *ngFor="let item of selectedRouteData" class="cards">
                                                    {{ item.stopName }}
                                                  </div>
                                                </ng-container>
                                                <ng-template #showMoreLess>
                                                  <div *ngFor="let item of selectedRouteData?.slice(0, showCount)" class="cards">
                                                    {{ item.stopName }}
                                                  </div>
                                                  <a *ngIf="!showMore" style="color: blue;cursor: pointer;padding-top: 30px;" (click)="toggleShowMoreLess()">...Show More</a>
                                                  <a *ngIf="showMore" style="color: blue;cursor: pointer;padding-top: 30px;" (click)="toggleShowMoreLess()">...Show Less</a>
                                                </ng-template>
                                              </div>
                                              <div class="text-center"
                                                *ngIf="selectedRouteData && selectedRouteData?.length == 0 || selectedRouteData == null"
                                                style="width: 100%;">Stop not selected</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 mt-4">
                                <button class="btn btn-primary" (click)="showRoute()">Show Stop On Map</button>                               
                            </div>
                            <div class="col-md-3">
                              <div class="alert alert-info mt-3" *ngIf="selectedStop && selectedStop.length > 0">
                                Stop has been selected. Click "Show Stop On Map" to view it.
                              </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-2">
                                <button (click)="submit(addRoute.value)"
                                    class="mr-2 mt-4 btn-icon btn-icon-only btn btn-success"
                                    [disabled]="addRoute.invalid"><i class="fa fa-plus"
                                        aria-hidden="true"></i>
                                    {{button}}
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button  class="mr-2 mt-4 btn-icon btn-icon-only btn btn-danger">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header card-default">
                                  Route Details
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-12">
                                      <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                                        <div class="p-2 bd-highlight">
                                          <span>Items per page: </span>
                                          <select (change)="onTableSizeChange($event, 'routepage')" class="custom-select">
                                            <option *ngFor="let size of tableSizes" [ngValue]="size">
                                              {{ size }}
                                            </option>
                                          </select>
                                        </div>
                                        <div class="dataTables_scroll">
                                          <div class="dataTables_scrollHead">
                                          </div>
                                          <div class="dataTables_scrollBody">
                                            <div class="spin-loader" [ngClass]="isRouteLoading ? 'loader': ''">
                                              <loader [isRunning]="isRouteLoading"></loader>
                                            </div>
                                            <table id="datatable" class="table table-striped nowrap dataTable no-footer dtr-inline" role="grid"
                                              aria-describedby="datatable_info" style="width: 100%" width="100%">
                                              <thead>
                                                <tr role="row">
                                                  <th *ngFor="let vehicleHeading of tableData">
                                                    <strong>{{vehicleHeading?.value}}</strong>
                                                  </th>
                                                </tr>
                                              </thead>
                                              <tbody *ngIf="!isRouteLoading" class="tablerow">
                                                <tr *ngFor="let user of routeList |  paginate : {
                                                            itemsPerPage: tableSize,
                                                            currentPage: page,
                                                            totalItems: count};">
                                                  <td id="tableColumn">
                                                    {{user?.routE_NO}}</td>
                                                  <td>{{user?.routE_NAME || 'NA'}}</td>
                                                  <!-- <td>{{user?.origin || 'NA'}}</td> -->
                                                  <!-- <td>{{user?.destination || 'NA'}}</td> -->
                                                  <td>{{user?.scheduled_KM || 'NA'}}</td>
                                                  <td> <a tooltip="Edit" rel="noopener noreferrer"
                                                      (click)="onEditRoute(user)"><i class="fa fa-pencil"
                                                        aria-hidden="true"></i>
                                                    </a></td>
                                                </tr>
                                              </tbody>
                                            </table>
                                            <div class="text-center"
                                              *ngIf="routeList && routeList.length == 0 || routeList == null && !isRouteLoading"
                                              style="width: 100%;">No Data Available</div>
                                          </div>
                                        </div>
                                        <div class="pagination-data" *ngIf="routeList && routeList.length > 0">
                                          <pagination-controls previousLabel="Prev" nextLabel="Next"
                                            (pageChange)="onTableDataChange($event, 'routepage')">
                                          </pagination-controls>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>