<section class="main-content" id="content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/WorkShop/In">WorkShop</a></li>
                <li><a routerLink="/WorkShop/In"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        Gate Pass In List</a></li>
                        <li><a routerLink="/WorkShop/create_gate_pass_in"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                           Create Gate Pass In </a></li>
                
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
            </app-alert>
            <div class="card">
                <div class="card-header card-default">Create New Gate Pass</div>
                <div class="card-body">
                    <form [formGroup]="getInForm">
                        <div class="row">

                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Vehicle</label>
                                <div *ngIf="selectedValue">
                                    <select-filter [selectedValue]="selectedValue" [vehicleData]="vehicleData"
                                        [type]="'Vehicle'" [placeholder]="'Select Vehicle'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedValue && vehicleData && vehicleData.length > 0">
                                    <select-filter [vehicleData]="vehicleData" [type]="'Vehicle'"
                                        [placeholder]="'Select Vehicle'" (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedValue && !vehicleData || vehicleData.length == 0">
                                    <select-filter [type]="'Vehicle'" [placeholder]="'Select Vehicle'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Service Type</label>
                                <div *ngIf="selectedSeriviceValue">
                                    <select-filter [selectedValue]="selectedSeriviceValue" [vehicleData]="serviceList"
                                        [type]="'Service'" [placeholder]="'Select Service Type'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedSeriviceValue && serviceList && serviceList.length > 0">
                                    <select-filter [vehicleData]="serviceList" [type]="'Service'"
                                        [placeholder]="'Select Service Type'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>
                                <div *ngIf="!selectedSeriviceValue && !serviceList || serviceList.length == 0">
                                    <select-filter [type]="'Service'" [placeholder]="'Select Service Type'"
                                        (onConfirm)="confirm($event)"></select-filter>
                                </div>

                            </div>

                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label"> In Time</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" formControlName="in_time"
                                        placeholder="MM/dd/yyyy"
                                        [bsConfig]="{withTimepicker: true,keepDatepickerOpened: true, rangeInputFormat : 'MMMM Do YYYY, HH:mm:ss', dateInputFormat: 'MMMM Do YYYY, HH:mm:ss'}"
                                        #dp="bsDatepicker" bsDatepicker />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <label for="exampleInputEmail1" class="form-label">Keeper Name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Enter Keeper Name"
                                        aria-describedby="button-addon2" formControlName="keeper_name" />
                                </div>
                            </div>

                        </div>

                        <div class="row row-data">
                            <div class="col-md-3"></div>
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <button class="btn btn-success" (click)="createGatePassIn(getInForm.value)" ><i class="fa fa-plus" aria-hidden="true" ></i>
                                    {{button}}
                                </button>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-danger" (click)="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>