<section class="main-content">
    <div class="row">
        <div class="col-lg-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/registration/RC_Details">Registration</a>
                </li>
                <li>
                    <a routerLink="/Registration/Location_Master">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Location Master</a>
                </li>
                <li>
                    <a routerLink="/Registration/Add_Location">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Add
                        Location</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        <!-- <i class="fa fa-heartbeat" aria-hidden="true"></i> -->
                        Add Location
                    </div>
                </div>
                <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
                </app-alert>
                <div class="card-body">
                    <form [formGroup]="addLocation">
                        <!-- <div id="chart" class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">
                                State</label>
                            <div class="dropdown">
                                <div id="myDropdown" class="dropdown-content">
                                    <input type="text" placeholder="Search State" [(ngModel)]="searchKeyword"
                                        autocomplete="off" [ngModelOptions]="{standalone: true}" id="myInputtest"
                                        (keyup)="filterFunction()">
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <div *ngIf="statelistdiv"
                                        [ngClass]="(statesWithCoordinates | searchFilter:searchKeyword)?.length > 10 ? 'table-value': 'table-data'">
                                        <ul class="list-data">
                                            <li *ngFor="let data of statesWithCoordinates | searchFilter: searchKeyword"
                                                (click)="onSelectData(data)">
                                                <a class="table-content">{{data?.stateName}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div style="text-align: center;" *ngIf="!(statesWithCoordinates | searchFilter:searchKeyword)?.length">No Data Found</div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <label for="exampleInputEmail1" class="form-label">District</label>
                        <div class="mb-3">
                            <div *ngIf="selecteddistrictValue">
                                <select-filter [selectedValue]="selecteddistrictValue" [vehicleData]="districtListData"
                                    [type]="'District'" [placeholder]="'Select District'"
                                    (onConfirm)="confirm($event)"></select-filter>
                            </div>
                            <div *ngIf="!selecteddistrictValue && districtListData && districtListData.length > 0">
                                <select-filter [vehicleData]="districtListData" [type]="'District'"
                                    [placeholder]="'Select District'" (onConfirm)="confirm($event)"></select-filter>
                            </div>
                            <div *ngIf="!selecteddistrictValue && !districtListData || districtListData.length == 0">
                                <select-filter [type]="'District'" [placeholder]="'Select District'"></select-filter>
                            </div>
                        </div> -->
                        <label for="exampleInputEmail1" class="form-label">Company</label>
                        <div class="mb-3">
                            <div *ngIf="selectedDepartment">
                                <select-filter [selectedValue]="selectedDepartment" [vehicleData]="company" [type]="'company'" [placeholder]="'Select Company'"
                                (onConfirm)="confirm($event)"></select-filter>
                            </div>
                              <div *ngIf="!selectedDepartment && company && company.length > 0">
                                <select-filter [vehicleData]="company" [type]="'company'" [placeholder]="'Select Company'"
                                  (onConfirm)="confirm($event)"></select-filter>
                              </div>
                              <div *ngIf="!selectedDepartment && !company || company.length == 0">
                                <select-filter  [type]="'company'" [placeholder]="'Select Company'"
                                  (onConfirm)="confirm($event)"></select-filter>
                              </div>
                            </div>
                        <!-- <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Department Code"
                                formControlName="locationNo" aria-describedby="button-addon2" />
                        </div> -->
                        <label for="exampleInputEmail1" class="form-label">Stop Type</label>
                        <div class="mb-3">
                            <div *ngIf="selectedstypValue">
                                <select-filter [selectedValue]="selectedstypValue" [vehicleData]="stopList"
                                    [type]="'Stop_Type'" [placeholder]="'Select Stop type'"
                                    (onConfirm)="confirm($event)"></select-filter>
                            </div>
                            <div *ngIf="!selectedstypValue && stopList && stopList.length > 0">
                                <select-filter [vehicleData]="stopList" [type]="'Stop_Type'"
                                    [placeholder]="'Select Stop type'" (onConfirm)="confirm($event)"></select-filter>
                            </div>
                            <div *ngIf="!selectedstypValue && !stopList || stopList.length == 0">
                                <select-filter [type]="'Stop_Type'" [placeholder]="'Select Stop type'"></select-filter>
                            </div>
                        </div>
                        <label for="exampleInputEmail1" class="form-label">Location Name</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Location Name"
                                formControlName="locationName" aria-describedby="button-addon2" />
                        </div>
                        <label for="exampleInputEmail1" class="form-label">Latitude</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" placeholder="Latitude" formControlName="lat"
                                aria-describedby="button-addon2" />
                        </div>
                        <label for="exampleInputEmail1" class="form-label">Longitude</label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" (change)="changeLngValue($event)" placeholder="Longitude" formControlName="long"
                                aria-describedby="button-addon2" />
                        </div>
                        <!-- <div class="mt-2">
                            <app-alert [alertData]="alertData" [alertType]="alertType" *ngIf="alertTrigger ">
                            </app-alert>
                        </div> -->
                        <button type="submit" class="btn btn-success" [disabled]="!addLocation.valid"
                            (click)="submit(addLocation.value)">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add Record
                        </button>
                        <button type="submit" class="btn btn-danger mt-3" (click)="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title">
                        <!-- <i class="fa fa-heartbeat" aria-hidden="true"></i> -->
                        Select From Map
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="tab-eg-55">
                        <div class="widget-chart p-3">
                            <div class="map-container">
                                <div id="googleMap" style="width: 100%; height: 800px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>